<section class="container-jumbotron">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <div class="desc">
          <div class="my-2">
            <svg class="svg ost-kit-logo">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
              </switch>
            </svg>
          </div>
          <h2>The Complete Blockchain Toolkit for Business</h2>
          <p>
            ostKIT gives you all the tools you need to run your blockchain-powered economy on scalable OpenST sidechains, without your needing to have in-house blockchain developers...and Alpha is open now!
          </p>
          <a href="" class="btn btn-gold">Get ostkit Alpha</a>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 justify-content-md-center d-flex">
        <div class="illustration">
          <div class="btn-white-border-blue btn btn-play" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/oLQSM5prDgk?rel=0&autoplay=1">
            <div class="play align-middle">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                </switch>
              </svg>
            </div>
            <span class="align-middle">ostkit Intro</span>
          </div>
          <img src="http://developmentopenst.org:8080/images/ost-kit-hero-illustration-1x.png" srcset="http://developmentopenst.org:8080/images/ost-kit-hero-illustration-2x.png 1000w" class="img-fluid position-relative" alt="Simple Token Play Video"/>
        </div>
      </div>

    </div>
  </div>
</section>