<section class="container-jumbotron py-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <div class="my-2">
          <svg class="svg ost-kit-logo">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-ost-kit"></use>
            </switch>
          </svg>
        </div>
        <h1>The Complete Blockchain Toolkit for Business</h1>
        <p class="my-3">
          OST KIT gives you all the tools you need to run your blockchain-powered economy on scalable OpenST sidechains, without requiring in-house blockchain developers...and Alpha is open now!
        </p>
        <a href="/sign-up" class="btn btn-primary">Get ost kit Alpha</a>
        <a href="/login" class="btn btn-secondary ml-sm-3 my-2 my-md-3">ost kit Login</a>
      </div>

      <div class="col-md-12 col-lg-6 justify-content-md-center d-flex">
        <div class="illustration">
          <div class="btn-secondary btn btn-play" title="OstKit Intro" data-toggle="modal" data-target="#helpVideoModal" data-src="https://www.youtube.com/embed/f6N3uKMzasI">
            <div class="play align-middle">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                </switch>
              </svg>
            </div>
            <span class="align-middle">ost kit Intro</span>
          </div>
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-hero-illustration-1x.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-hero-illustration-2x.png 1000w" class="img-fluid position-relative" alt="Simple Token Play Video"/>
        </div>
      </div>

    </div>
  </div>
</section>

<%= render :partial => "shared/web/modals/help_video" %>