<section class="container-fluid container-powered container-managedash pt-4">
  <div class="row">
    <div class="col col-md-6 mx-md-auto text-center">
      <h1>Management Dashboard</h1>
      <p>Use our dashboards to launch and manage your own token economy.</p>
    </div>
  </div>
</section>

<section class="container container-powered-containers container-managedash-containers">
  <div class="row">
    <div class="col col-md-10 mx-md-auto">
      <img class="img-fluid" src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/ost-kit-management-dashboard-image-v4.png" alt="OST - Management Dashboard"/>
    </div>
  </div>
</section>

<section class="container container-managedash-elements">
  <div class="row">
    <div class="col col-md-10 mx-md-auto">
      <div class="row">
        <div class="col-sm-12 col-md-3 my-4 text-center">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/icon-control-panel@2x.png" class="img-fluid" width="89"/>
          <h6>Control Panel</h6>
          <p>Setup your economy & manage users.</p>
        </div>
        <div class="col-sm-12 col-md-3 my-4 text-center">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/icon-graphs@2x.png" class="img-fluid" width="89"/>
          <h6>Graphs</h6>
          <p>Visualize developments as you run simulations.</p>
        </div>
        <div class="col-sm-12 col-md-3 my-4 text-center">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/icon-trends@2x.png" class="img-fluid" width="89"/>
          <h6>Trends</h6>
          <p>Gain macro and micro insights.</p>
        </div>
        <div class="col-sm-12 col-md-3 my-4 text-center">
          <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/icon-economy@2x.png" class="img-fluid" width="89"/>
          <h6>Economy</h6>
          <p>Monitor, analyze, and plan.</p>
        </div>
      </div>
    </div>
  </div>
</section>