<div class="container-fluid container-powered container-managedash position-relative">
  <div class="ost-forward-triangle"></div>
  <div class="ost-triangleSpace"></div>
  <div class="row">
    <div class="col col-md-6 mx-md-auto text-center">
      <h1>Management Dashboard</h1>
      <p>Use our dashboards to launch and manage your own token economy.</p>
    </div>
  </div>
</div>

<div class="container container-powered-containers container-managedash-containers">
  <div class="row">
    <div class="col col-md-10 mx-md-auto">
      <img class="img-fluid" src="/images/ostkit-managedash.png" srcset="/images/ostkit-managedash@2x.png 1000w"/>
    </div>
  </div>
</div>