<div class="container-fluid container-openst-technology py-5 technology-elements">
  <div class="row mb-3">
    <div class="col col-md-8 mx-md-auto text-center">
      <h1>Get Started with </h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-8 mx-auto text-center">
      <p>
        OST KIT Alpha is an opportunity to get in on the ground floor and help create a toolkit that meets the real needs of real businesses. Your feedback is the engine that will drive our project forward. We invite you to try ostKIT alpha, become a link in our chain, and start unlocking the power of blockchain for all.
      </p>
      <a href="" class="btn btn-gold">Get ostKIT Alpha</a>
    </div>
  </div>
</div>