<section class="container-fluid container-openst-technology py-5 position-relative" style="overflow:hidden;">
  <div class="row">
    <div class="col col-md-8 mx-auto text-center">
      <a href="<%= GlobalConstant::CompanyOtherProductUrls.kit_root_url %>login" target="_blank" class="btn btn-primary" title="Explore OST KIT⍺">Explore OST KIT⍺</a>
    </div>
  </div>
  <div class="ost-triangleSpace"></div>
  <div class="ost-forward-triangle aqua"></div>
</section>