<section class="container-fluid container-openst-technology technology-elements py-5 position-relative" style="overflow:hidden;">
  <div class="row mb-3">
    <div class="col col-md-8 mx-md-auto text-center">
      <h1>Get Ready for
        <svg class="ost-kit-logo-no-cloud-icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-kit-logo-no-cloud-icon"></use>
          </switch>
        </svg><span class="text-uppercase font-weight-light" style="color: #84d1d4;font-size: 2rem;">⍺</span> Phase III
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-8 mx-auto text-center">
      <p class="mb-5">
        OST KIT⍺ is an opportunity for developers to get in on the ground floor and help create a blockchain toolkit that meets the real needs of real businesses. Sign up now to get invited to apply for the third alpha phase of OST KIT⍺.
      </p>
      <a href="https://docs.google.com/forms/d/1-kbSKkuii_p9aMpPTj4gfSIhy4BpP9gyLKflmNTUewE" target="_blank" class="btn btn-primary" title="Sign up for OST KIT⍺ III">Sign up for OST KIT⍺ III</a>
    </div>
  </div>
  <div class="ost-triangleSpace"></div>
  <div class="ost-forward-triangle aqua"></div>
</section>