<section class="container-fluid container-openst-technology py-5 technology-elements position-relative" style="overflow: hidden">
  <div class="row mb-3">
    <div class="col col-md-8 mx-md-auto text-center">
      <h1>Get Started with
        <svg class="ost-kit-logo-no-cloud-icon">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-kit-logo-no-cloud-icon"></use>
          </switch>
        </svg>
        <span class="text-uppercase font-weight-light" style="color: #84d1d4;font-size: 2rem;">Alpha</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-8 mx-auto text-center">
      <p>
        OST KIT Alpha is an opportunity to get in on the ground floor and help create a toolkit that meets the real needs of real businesses. Your feedback is the engine that will drive our project forward. We invite you to try OST KIT alpha, become a link in our chain, and start unlocking the power of blockchain for all.
      </p>
      <a href="/sign-up" class="btn btn-primary" title="GET OST KIT ALPHA">GET OST KIT ALPHA</a>
    </div>
  </div>
  <div class="ost-triangleSpace"></div>
  <div class="ost-forward-triangle aqua"></div>
</section>