<section class="container-fluid">
  <div class="row align-items-center py-5 side-by-side">
    <div class="col-12 col-md-6">
      <div class="copy">
        <h1>Design Your Token</h1>
        <p>Your brand, your way. Establish your brand online with a custom token names and design. With instant access to hundreds of the best looking token icons and designs get complete control over your token look and feel.</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="image">
        <img src="http://developmentopenst.org:8080/images/ostkit-designtoken.png" srcset="http://developmentopenst.org:8080/images/ostkit-designtoken@2x.png 1000w" class="img-fluid" alt="" title=""/>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-5">
    <div class="col-12 col-md-6">
      <div class="image">
        <img src="http://developmentopenst.org:8080/images/ostkit-tokenplanner.png" srcset="http://developmentopenst.org:8080/images/ostkit-tokenplanner@2x.png 1000w" class="img-fluid" alt="" title=""/>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="copy">
        <h1>Token Economy Planner</h1>
        <p>A robust, flexibile, token planning interface that helps you plan your token economy by answering just a couple questions. Designed to bring clarity to your economy goals as well as to micro-planning.</p>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-5">
    <div class="col-12 col-md-6">
      <div class="copy">
        <h1>Flexible transaction types</h1>
        <p>Our flexibile transaction module supports a wide range of business models and use cases.</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="image">
        <img src="http://developmentopenst.org:8080/images/ostkit-transactions.png" srcset="http://developmentopenst.org:8080/images/ostkit-transactions@2x.png 1000w" class="img-fluid" alt="" title=""/>
      </div>
    </div>
  </div>
</section>