<%
  height_cls_name = "alert-height";
%>
<div class="<%= height_cls_name %> ost__alert">
  <div class="row font-weight-light pt-1">
    <div class="col text-center p-2">
      <svg class="icon-banner align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-validation-alert"></use>
        </switch>
      </svg>
      <span class="ost__alert__text ml-1">
        Ethereum's network upgrade 'Constantinople' is in progress.
        Access to KIT interface is temporarily restricted during this period to prevent Stake and Mint Operations from failing.
      </span>
    </div>
  </div>
</div>

<% content_for :phantom_header_el do %>
  <div class="<%= height_cls_name %>"></div>
<% end %>
