<%
  height_cls_name = "alert-height";
%>

<div class="<%= height_cls_name %> ost__alert">
  <div class="row font-weight-light pt-1">
    <div class="col text-center p-2">
      <svg class="icon-banner align-middle">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-validation-alert"></use>
        </switch>
      </svg>
      <span class="ost__alert__text ml-1">We have sent an email to <%= @presenter_obj.user.email %>.
        Please click on the Verify button in the email to activate your account.</span>
      <a href="javascript:void(0)" id="notification-email-resend-btn" class="btn ost__alert__button font-weight-normal">
        Re-send email
      </a>
    </div>
  </div>
</div>
<% content_for :phantom_header_el do %>
  <div class="<%= height_cls_name %>"></div>
<% end %>
<% content_for :popups do %>
  <%= render :partial => "/shared/web/modals/verify_account" %>
<% end %>

<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
      $('#notification-email-resend-btn').off('click').on('click' , function () {
        var jVerifyModal = $('#verify-modal');
        jVerifyModal.modal('show');
        jVerifyModal.on('shown.bs.modal', function () {
          var oThis =  this ;
          setTimeout(function () {
            $(oThis).find('#resend-verification-email-btn').trigger('click');
          } , 300 );
        });
      });
    });
  </script>
<% end %>