<div class="row">
  <div class="col-12">
    <h3 class="mt-4">FAQ</h3>
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group list-group-flush faqs">
          <li class="list-group-item font-weight-light">Why do I need to reserve gas?</li>
          <li class="list-group-item font-weight-light">What is Staking & Minting?</li>
          <li class="list-group-item font-weight-light">How many tokens do Ineed to mint?</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <button type="button" class="font-weight-light btn btn-gold-border h-100" title="Watch Help Video" style="width: 100%;">watch help video</button>
      </div>
    </div>
    <div class="mb-4"></div>
  </div>
</div>