<%= render :partial => "/shared/web/common/other-icons.svg" %>
<div class="row">
  <div class="col-12">
    <h3 class="mt-4">FAQ</h3>
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-group list-group-flush show-last-border">
          <li class="list-group-item">
            <a href="#" class="link-item item-heading">
              Why do I need to reserve gas?
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="link-item item-heading">
              What is Staking &amp; Minting?
            </a>
          </li>
          <li class="list-group-item">
            <a href="#" class="link-item item-heading">
              How many tokens do Ineed to mint?
            </a>
        </ul>
      </div>
      <div class="col-sm-6">
        <button type="button" class="font-weight-light btn btn-gold-border h-100 video-btn" title="Watch Help Video" data-toggle="modal" data-src="https://www.youtube.com/embed/EUwzWHD3Htg" data-target="#helpVideoModal" style="width: 100%;">
          <svg class="icon-play align-middle">
            <switch>
              <use class="icon-play" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
            </switch>
          </svg>
          <span class="align-middle">watch help video</span>
        </button>
      </div>
    </div>
    <div class="mb-4"></div>
  </div>
</div>