<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="/">
    <svg class="icon">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logged-out-header-ost-logo"></use>
      </switch>
    </svg>
  </a>
</nav>
