<nav class="navbar navbar-expand-md navbar-light ">
  <a href="/dashboard" class="navbar-brand font-weight-normal">
    <svg width="22px" height="22px">
      <switch>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-icon"></use>
      </switch>
    </svg>
    <span class="token-name">
      <%= @presenter_obj.client_token_name %>
    </span>
  </a>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul class="navbar-nav navbar-right ml-md-auto d-md-flex text-uppercase font-weight-normal">
      <%# if controller_name != 'user_setting' %>
<!--          <li class="nav-item">-->
<!--            <span class="nav-link" href="#">-->
<!--              <span class="d-block">Total Supply</span>-->
<!--              <span class="d-block gold text-sm-left text-md-center">APP 45,000 ($200)</span>-->
<!--            </span>-->
<!--          </li>-->
      <%#end%>
      <%# if controller_name != 'user_setting' %>
<!--          <li class="nav-item">-->
<!--                <span class="nav-link" href="#">-->
<!--                  <span class="d-block">Available</span>-->
<!--                  <span class="d-block gold text-sm-left text-md-center">OST⍺ 100,000 ($200)</span>-->
<!--                </span>-->
<!--          </li>-->
      <%#end%>
      <li class="nav-item">
        <a class="nav-link d-flex" href="https://help.ost.com/support/home" target="_blank">
          <svg class="get-help-icon">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-users-help"></use>
            </switch>
          </svg>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>