<header >

  <%#= render :partial => "/shared/web/common/low_on_gas_alert" %>
  <%#= render :partial => "/shared/web/common/email_validation_alert" %>

  <div class="fixed-top header-height">
    <% if @presenter_obj.is_client_logged_in? %>
        <%= render :partial => "/shared/web/common/header_logged_in" %>
    <% else %>
        <%= render :partial => "/shared/web/common/header_logged_out" %>
    <% end %>
  </div>
  <div class="header-height"></div>

</header>
