<%

  client_token = @presenter_obj.client_token
  client_balances = @presenter_obj.client_balances
  client_fiat_curreny_pref_symbol = @presenter_obj.client_fiat_curreny_pref_symbol

  if client_balances.balances.present?
    bt_balance = client_balances.bt_balance
    bt_fiat_balance = client_balances.bt_fiat_balance(client_fiat_curreny_pref_symbol)
    ost_balance = client_balances.ost_balance
    ost_fiat_balance = client_balances.ost_fiat_balance(client_fiat_curreny_pref_symbol)
  end

%>

<%#= render :partial => "/shared/web/common/alert" %>
<nav class="navbar navbar-expand-md navbar-light ">
  <a class="navbar-brand font-weight-normal" href="#">
    <img src="https://transloadit.edgly.net/assets/demos/outputs/image-manipulation-resize-to-75x75-stretched-snowflake-0.jpg__preview.jpg" class="rounded-circle" height="38" alt="image"/>
    &nbsp;<%= client_token.name %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
          <i class="glyphicon glyphicon-align-left"></i>
          <span class="small">Toggle Sidebar</span>
        </button>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right ml-md-auto d-md-flex text-uppercase font-weight-normal">
      <% if client_balances.balances.present? %>
          <% if bt_balance.present? %>
              <li class="nav-item">
                <a class="nav-link active">
                  <span class="d-block">available frc</span>
                  <span class="d-block gold text-sm-left text-md-center"><%= "#{bt_balance} (#{client_fiat_curreny_pref_symbol}#{bt_fiat_balance})" %></span>
                </a>
              </li>
          <% end %>
          <% if bt_balance.present? %>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="d-block">available ost</span>
                  <span class="d-block gold text-sm-left text-md-center"><%= "#{ost_balance} (#{client_fiat_curreny_pref_symbol}#{ost_fiat_balance})" %></span>
                </a>
              </li>
          <% end %>
      <% end %>
      <li class="nav-item">
        <a class="nav-link d-flex" href="#">
          <img src="https://transloadit.edgly.net/assets/demos/outputs/image-manipulation-resize-to-75x75-stretched-snowflake-0.jpg__preview.jpg" class="rounded-circle" height="38" alt="image"/>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>