<header id="app-header">

  <div class="header-wrapper fixed-top">

    <div class="header-height">
      <%# TODO: ONCE PRESENTER OBJ IS AVAILABLE REVERT COMMENTING %>
      <% if @presenter_obj.is_client_logged_in? %>
        <%= render :partial => "/shared/web/common/header_logged_in" %>
      <% else %>
        <%= render :partial => "/shared/web/common/header_logged_out" %>
      <% end %>
    </div>
  </div>

  <!-- This is a phantom element for header alerts,  if any alert is rendered this should also be rendered -->

  <% content_for :phantom_header_el do %>
    <div class="header-height"></div>
  <% end %>
  <%= yield(:phantom_header_el) %>
</header>
