<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="https://transloadit.edgly.net/assets/demos/outputs/image-manipulation-resize-to-75x75-stretched-snowflake-0.jpg__preview.jpg" class="rounded-circle" height="38" alt="image"/>
  </a>
</nav>