<div class="row ost__alert">
  <div class="container">
    <div class="row">
      <div class=" font-weight-light">
        <div class="col text-center">
          <span class="ost__alert__text">You will need some OSTα to get started and a safe place to store them. The perfect place is a secure wallet like MetaMask.</span>
          <a href="" class="btn ost__alert__button font-weight-normal">install metamask</a>
        </div>
      </div>
    </div>
  </div>
</div>