<div class="row planner-banner" id="ost__alert__planner__conversion__rate" >
  <div class="col">
    <div class="container">
      <div class="row py-2">
        <div class="col font-weight-light sticky-top">
          <span class="m-0 font-size-p text-muted">The conversion rate set for your economy is high. Either change the conversion rate or transfer more OST to be able to proceed for Minting.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow"></div>
</div>