<div class="row ost__alert ost__alert__planner">
  <div class="container">
    <div class="row">
      <div class="col font-weight-light">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-8 text-left">
            <span class="ost__alert__planner__text">You will need some OSTα to get started and a safe place to store them. The perfect place is a secure wallet like MetaMask.</span>
          </div>
          <div class=>
            <a href="" class="btn btn-gold-border ost__alert__button">install metamask</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>