<div class="row planner-banner" id="ost__alert__planner__conversion__rate" >
  <div class="col">
    <div class="container">
      <div class="row py-2">
        <div class="col font-weight-light sticky-top">
          <span class="m-0 font-size-p text-light"><span class="badge badge-pill badge-light">!</span> The amount of OST in your account does not allow minting based on the conversion rate currently set for your economy. Please transfer more OST or reduce you conversion rate in order to proceed.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="shadow"></div>
</div>