<div class="row ost__alert ost__alert__planner d-none" id="ost__alert__planner__install_metamask">
  <div class="container">
    <div class="row pt-2">
      <div class="col font-weight-light">
        <div class="row d-flex align-items-center">
          <div class="col-md-1 p-0 text-right">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/metamask-banner-image.png" width="30"/>
          </div>
          <div class="col-md-8 text-left">
            <span class="m-0 font-size-p text-muted">You will need some <%= ost_currency_symbol %> to get started and a safe place to store them. The perfect place is a secure wallet like MetaMask.</span>
          </div>
          <div class="d-flex align-items-center">
            <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank" class="btn btn-gold-border ost__alert__button">install metamask</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $( window ).load(function() {
    ost.metamask.validateInstallation(function ( success, response ) {
      if ( !success ) {
        console.log("response", response);
        $("#ost__alert__planner__install_metamask").removeClass("d-none");
      }
    });
  })
</script>
<% end %>