<aside id="sidebar" class="sidebar-nav">

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample">Collapse</a>
      <div class="collapse" id="collapseExample">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 2</a>
            </li>
          </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

</aside>