<%= render :partial => "/shared/web/common/sidebar-icons.svg" %>

<aside id="sidebar" class="sidebar-nav">

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center active" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dashboard"></use>
          </switch>
        </svg>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-supply"></use>
          </switch>
        </svg>
        <span>Token Supply</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-users"></use>
          </switch>
        </svg>
        <span>Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-transactions"></use>
          </switch>
        </svg>
        <span>Transactions</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-simulator"></use>
          </switch>
        </svg>
        <span>Simulator</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-bt-explorer"></use>
          </switch>
        </svg>
        <span>BTexplorer</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-token-design"></use>
          </switch>
        </svg>
        <span>Token Design</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-planner"></use>
          </switch>
        </svg>
        <span>Economy Planner</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-campaigns"></use>
          </switch>
        </svg>
        <span>Campaigns</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-analytics"></use>
          </switch>
        </svg>
        <span>Analytics</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" href="#">
        <svg>
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-kyc"></use>
          </switch>
        </svg>
        <span>KYC</span>
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#collapseExample">Collapse</a>
      <div class="collapse" id="collapseExample">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sub 2</a>
            </li>
          </ul>
      </div>
    </li>-->
  </ul>

</aside>