<ul class="stepwizard list-unstyled mt-5 mb-5 clearfix">
  <li class="<%=classes_step_1%>">Set Conversion Rate</li>
  <li class="<%=classes_step_2%>">Define Transactions</li>
  <li class="<%=classes_step_3%>">Mint Tokens</li>
</ul>