<div class="row" style="background: #d9a025;">
  <div class="container text-right">
    <button  type="submit" class="btn btn-steps-nav pt-3 pb-3" id="plannerStep1Btn">Set up transactions &gt;</button>
  </div>
</div>