<div class="stepwizard">
  <div class="step active">1</div>
  <div class="step incomplete">2</div>
  <div class="step incomplete">3</div>
  <div class="connector s1-2 incomplete"></div>
  <div class="connector s2-3 incomplete"></div>
</div>