<div class="row" style="background: #d9a025;">
  <div class="container">
    <a href="/planner" class="btn btn-steps-nav pt-3 pb-3 float-left">Set conversion rate</a>
    <a href="javascript:void(0)" class="btn btn-steps-nav pt-3 pb-3 float-right">Stake and mint coins</a>
  </div>
</div>