<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered h-100 mx-auto my-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to delete user?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary delete-user-btn">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unassignAdminModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered h-100 mx-auto my-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to unassign super admin role form the user?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary unassign-admin-btn">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="assignAdminModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered h-100 mx-auto my-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to assign super admin role to the user?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary assign-admin-btn">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="resetMfa" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered h-100 mx-auto my-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>Are you sure you want to reset MFA?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary reset-mfa-btn">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="successModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered h-100 mx-auto my-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="success-msg"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary assign-admin" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered h-100 mx-auto my-0" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="error-msg">Something went wrong, Please try again later.</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary assign-admin" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>