// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

.planner-container{
  .text-different-color{
    color: #e4b030;
    font-weight: bold;
  }
  .header-recommendation{
    display: none;
  }
  .edit-collapse{
    cursor: pointer;
  }

  p{
    font-weight: $font-weight-light;
    font-size: 0.875rem;
  }
  .conversion-section{
    border-bottom: 1px solid #dbf2f2;
    border-top: 1px solid #dbf2f2;
    .col-4{
      font-size: 24px;
      font-weight: normal;
      color: $cyan;
      .text-different-color{
        color: #e4b030;
      }
      .equal-to-sign{
        position: absolute;
        right: -7px;
        background-color: white;

      }
    }

    .right-border{
      position: relative;
      border-right: 1px solid #dbf2f2;
    }

  }
}
.error-state-content{
  display: none;
}
