<div class="container users-list-container"  data-airdrop-processing="false">
  <div class="row">
    <div class="col-12 p-0">
      <div class="d-flex justify-content-between align-items-center my-4">
        <h3 class="mb-0">Users</h3>
        <div class="text-right">
          <button id="airdrop_btn" class="btn btn-gold">AIRDROP TOKENS</button>
          <button id="add_users" class="btn btn-gold">ADD USERS</button>
        </div>
      </div>
    </div>
    <div class="transactions">
      <div class="row header">
        <div class="col-2">PROFILE</div>
        <div class="col-3">NAME</div>
        <div class="col-2">TOKEN AIRDROP</div>
        <div class="col-2">TOKEN AVAILABLE</div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12 slider-parent-container" data-slider-content-wrapper=".ost-table-row">
      <div id="user_list" class="economy_users w-100 transactions" data-simple-table data-url="/api/economy/users/list">
        <script type="text/x-handlebars-template" data-row-template>
          <div class="row py-3 mt-1 mb-3 rounded ost-table-row cell">
            <div class="col-2"><span>ProfileIcon</span></div>
            {{#ifEditUser mode}}
              <div class="col-10">
                <form class="add-user-form" id="save-user-{{id}}" action="/api/economy/users/create" method="POST" data-user-id="{{id}}">
                  <div class="row">
                    <div class="col-4">
                      <div>
                        <input type="text" class="form-control" id="user-name-{{id}}" name="name" required/>
                        <div class="invalid-feedback" data-forname="user-name-{{id}}">&nbps;</div>
                      </div>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-6">
                      <button type="submit" class="save-user-btn btn float-left mr-1" data-submiting="Saving...">Save</button>
                      <button type="button" class="cancel-user-btn btn float-left">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            {{else}}
              <div class="col-3">{{name}}</div>
              <div class="col-2">{{total_airdropped_tokens}}</div>
              <div class="col-2">{{token_balance}} </div>
              <div class="col-3">
                <button class="showApiCallBtn btn btn-white slider-btn">
                  <svg class="icon-api-transactions align-middle">
                    <switch>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-api-transactions"></use>
                    </switch>
                  </svg>
                  <span class="align-middle">API Call</span>
                </button>
              </div>
              <div class="code-session col-12">
                <comment class="w-100 code-comment">
                  Some code has to come here.
                </comment>
                <br>
                <code class="w-100 code-line">
                  Some curl code has to come here
                  Some curl code has to come here
                </code>
              </div>
              {{/ifEditUser}}
            </div>
        </script>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "/shared/web/common/other-icons.svg" %>



<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
      ost.users.list.init();  
    });
  </script>
<%end%>
