<div class="row ost__planner">
  <div class="col-12 pt-6">
    <h3 class="text-center font-weight-bold letter-space-1">Complete the installation to continue</h3>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="text-center">
      <p class="font-weight-light mb-5 text-muted">Follow the instruction to set up your MetaMask Wallet and click the button below once you have installed it.</p>
      <div class="ost__planner__circle rounded-circle font-weight-light mb-5 <%= token_icon %>"><%= token_symbol %></div>
      <div class="mb-5">
        <button id="metamask_installed" type="button" class="btn btn-gold">i have installed metamask</button>
      </div>
      <div>
        <button type="button" class="font-weight-light btn ost-btn-secondary h-100 video-btn" title="Watch Help Video" data-toggle="modal" data-src="https://www.youtube.com/embed/EUwzWHD3Htg" data-target="#helpVideoModal">
          <svg class="icon-play align-middle">
            <switch>
              <use class="icon-play" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
            </switch>
          </svg>
          watch help video
        </button>
      </div>

      <h3 class="text-center mt-6 mb-3">FAQ for installing MetaMask</h3>
      <ul class="list-group list-group-flush show-last-border">
        <li class="list-group-item font-weight-light link">
          <a href="" class="link-item item-heading">Installing MetaMask, your digital wallet!</a>
        </li>
        <li class="list-group-item font-weight-light link">
          <a href="" class="link-item item-heading">Why us my MetaMask locked?</a>
        </li>
      </ul>
    </div>
  </div>
</div>