<div class="container">
  <div class="row">
    <div class="col-10 mx-auto text-center">
      <h3 class="col-8 mx-auto mt-6">We would need your 2 Metamask confirmations to proceed</h3>
      <div class="text-muted font-weight-light mb-5">Please open the metamask and confirm</div>
      <div class="row">
        <div class="col-10 mx-auto text-left rounded border-0">
          <div class="alert alert-secondary" role="alert">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/pending-loader-1.svg" width="30" height="30">
            <span class="ml-3 align-middle text-muted font-weight-light">Allow the contract Stake 350 OST to Mint 750,000 LGBT Tokens</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-10 mx-auto text-left rounded border-0">
          <div class="alert alert-secondary" role="alert">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/pending-loader-1.svg" width="30" height="30">
            <span class="ml-3 align-middle text-muted font-weight-light">Autorize Contract to Start the Staking Process</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>