<div class="modal fade" id="tx-status-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <h3 id="tx-status-header">Processing...</h3>
        <div id="tx-status-list"></div>
        <script id="tx-status-row-template" type="text/x-handlebars-template">
          <div class="row">
            <div class="col-8 ml-auto mr-auto text-left rounded border-0 font-weight-lighter">
              <div class="alert alert-secondary" role="alert">
                <img src="{{tx_status_img_src status}}" width="40" height="40" />
                {{display_text}}
              </div>
            </div>
          </div>
        </script>
        <div id="tx-status-footer"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    Handlebars.registerHelper('tx_status_img_src', function(status, options ) {
      switch( status ) {
        case "pending":
          return "//dummyimage.com/40x40/FDA629/FDA629";
          break;
        case "processed":
          return "//dummyimage.com/40x40/1EA68A/1EA68A";
          break;
        case "failed":
        case "time_out":
          return "//dummyimage.com/40x40/F64032/F64032";
          break;
        case "queued":
        default:
          return "//dummyimage.com/40x40/c4c4c4/c4c4c4";
          break;
      }
    });
  });
</script>
<% end %>

