<div class="modal fade" id="tx-status-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <div id="tx-status-header"><h3 class="mb-4">Processing...</h3></div>
      </div>
      <div class="modal-body">
        <div id="tx-status-list"></div>
        <script id="tx-status-row-template" type="text/x-handlebars-template">
          <div class="row">
            <div class="col-10 mx-auto text-left rounded border-0 font-weight-lighter">
              <div class="alert alert-secondary" role="alert">
                {{{tx_status_icon status}}}<span class="ml-3 align-middle">{{display_text}}</span>
              </div>
            </div>
          </div>
        </script>
      </div>
      <div class="modal-footer">
        <div id="tx-status-footer"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    Handlebars.registerHelper('tx_status_icon', function(status, options ) {
      switch( status ) {
        case "pending":
          return '<img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" width="30" height="30" />' ;
          break;
        case "processed":
          return '<img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/select-token-checkmark.svg" width="30" height="30" />' ;
          break;
        case "failed":
        case "time_out":
          return '<svg class="icon-banner align-middle">' +
                    '<switch> ' +
                        '<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use> ' +
                    '</switch> ' +
                  '</svg>' ;
          break;
        case "queued":
        default:
          return '<img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/pending-loader-1.svg" width="30" height="30" />' ;
          break;
      }
    });
  });
</script>
<% end %>
<% # Header When the pop-up opens up %>
<script id="default-tx-status-modal-header-start" type="text/x-handlebars-template">
  <h3 class="mb-4">Start Processing </h3>
</script>
<% # Header When the tx in Processing state %>
<script id="default-tx-status-modal-header-processing" type="text/x-handlebars-template">
  <h3 class="mb-4">Processing</h3>
</script>
<% # Header When the tx is successful %>
<script id="default-tx-status-modal-header-success" type="text/x-handlebars-template">
  <h3 class="mb-4">Success!</h3>
</script>
<% # Header When the tx failed %>
<script id="default-tx-status-modal-header-error" type="text/x-handlebars-template">
  <h3 class="alert alert-danger text-center" role="alert">
    Something Went Wrong!
  </h3>
</script>

<% # Footer When the pop-up opens up %>
<script id="default-tx-status-modal-footer-start" type="text/x-handlebars-template">
</script>
<% # Footer When the tx in Processing state %>
<script id="default-tx-status-modal-footer-processing" type="text/x-handlebars-template">
</script>
<% # Footer When the tx is successful %>
<script id="default-tx-status-modal-footer-success" type="text/x-handlebars-template">
</script>
<% # Footer When the tx failed %>
<script id="default-tx-status-modal-footer-error" type="text/x-handlebars-template">
  <button type="button" class="j-close-tx-status-modal btn btn-primary">Close</button>
</script>

<% # Some generic helpers %>
<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    Handlebars.registerHelper("IfTxStateStart", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }

      if ( uiState == ost.TSM.START ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
    Handlebars.registerHelper("IfTxStateProcessing", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }
      
      if ( uiState == ost.TSM.PROCESSING ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
    Handlebars.registerHelper("IfTxStateSuccess", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }
      
      if ( uiState == ost.TSM.SUCCESS ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
    Handlebars.registerHelper("IfTxStateFailed", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }
      
      if ( uiState == ost.TSM.FAILED ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
  });
</script>
<% end %>

