<div class="modal fade" id="tx-status-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div id="tx-status-header"><h3 >Processing...</h3></div>
        <div id="tx-status-list"></div>
        <script id="tx-status-row-template" type="text/x-handlebars-template">
          <div class="row">
            <div class="col-8 ml-auto mr-auto text-left rounded border-0 font-weight-lighter">
              <div class="alert alert-secondary" role="alert">
                <img src="{{tx_status_img_src status}}" width="40" height="40" />
                {{display_text}}
              </div>
            </div>
          </div>
        </script>
        <div id="tx-status-footer"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    Handlebars.registerHelper('tx_status_img_src', function(status, options ) {
      switch( status ) {
        case "pending":
          return "//dummyimage.com/40x40/FDA629/FDA629";
          break;
        case "processed":
          return "//dummyimage.com/40x40/1EA68A/1EA68A";
          break;
        case "failed":
        case "time_out":
          return "//dummyimage.com/40x40/F64032/F64032";
          break;
        case "queued":
        default:
          return "//dummyimage.com/40x40/c4c4c4/c4c4c4";
          break;
      }
    });
  });
</script>
<% end %>
<% # Header When the pop-up opens up %>
<script id="default-tx-status-modal-header-start" type="text/x-handlebars-template">
  <h3>Start Processing... </h3>
</script>
<% # Header When the tx in Processing state %>
<script id="default-tx-status-modal-header-processing" type="text/x-handlebars-template">
  <h3>Processing...</h3>
</script>
<% # Header When the tx is successful %>
<script id="default-tx-status-modal-header-success" type="text/x-handlebars-template">
  <h3>Success!</h3>
</script>
<% # Header When the tx failed %>
<script id="default-tx-status-modal-header-error" type="text/x-handlebars-template">
  <h3 class="alert alert-danger text-center" role="alert">
    Something Went Wrong!
  </h3>
</script>

<% # Footer When the pop-up opens up %>
<script id="default-tx-status-modal-footer-start" type="text/x-handlebars-template">
</script>
<% # Footer When the tx in Processing state %>
<script id="default-tx-status-modal-footer-processing" type="text/x-handlebars-template">
</script>
<% # Footer When the tx is successful %>
<script id="default-tx-status-modal-footer-success" type="text/x-handlebars-template">
  <h3>Success!</h3>
</script>
<% # Footer When the tx failed %>
<script id="default-tx-status-modal-footer-error" type="text/x-handlebars-template">
  <h3>Somthing Went Wrong!</h3>
</script>

<% # Some generic helpers %>
<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    Handlebars.registerHelper("IfTxStateStart", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }

      if ( uiState == ost.TSM.START ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
    Handlebars.registerHelper("IfTxStateProcessing", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }
      
      if ( uiState == ost.TSM.PROCESSING ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
    Handlebars.registerHelper("IfTxStateSuccess", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }
      
      if ( uiState == ost.TSM.SUCCESS ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
    Handlebars.registerHelper("IfTxStateFailed", function( options ) { 
      var data = options.data || {}
        , dataRoot = data.root || {}
        , uiState  = dataRoot.uiState
      ;

      if ( typeof dataRoot.uiState === "number" ) {
        uiState  = dataRoot.uiState;
      } else {
        uiState  = -1;
      }
      
      if ( uiState == ost.TSM.FAILED ) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
  });
</script>
<% end %>

