// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

._tabs{

  .card{
    background: $alice-blue;
    font-size: 0.8rem;
    border: 0;

    .card-title{
      font-size: 0.8rem;
    }

    .card-text{
      color: $yellow-300
    }
  }

}

._transactions_value,
._transactions_type,
._top_holders{

  .graph-header{
    font-size: 0.9rem;
    color: $cyan;
    border-top: 1px solid $blue-100;
    border-bottom: 1px solid $blue-100;

    .interval{
      cursor: pointer;
      &.hour{
        border-left: 1px solid $blue-100;
      }
      &.active{
        color: #e4b030;
        font-weight: 300;
      }
    }
  }

}

._top_holders{
  .table{
    font-size: 0.8rem;
    color: #597a84;
    .thead-light th{
      background: #c1e8e9;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

._ost_supply,
._activity_log{
  background: #f1f5f8;
  border-radius: 5px;
}

.graphs-nodata{
  width: 100%;
  height: 100%;
  background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/graph-blur-no-data.jpg');
  background-size: cover;
  padding: 10px;
  text-align: center;
  p{
    color: #438bad;
  }
}