// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

._transactions_value,
._transactions_type,
._top_holders{

  .graph-header{
    font-size: 0.9rem;
    color: $cyan;
    border-top: 1px solid $blue-100;
    border-bottom: 1px solid $blue-100;

    .interval{
      cursor: pointer;
      &.hour{
        border-left: 1px solid $blue-100;
      }
      &.active{
        color: #e4b030;
        font-weight: 300;
      }
    }
  }

}

._top_holders{
  .table{
    font-size: 0.8rem;
    color: #597a84;
    .thead-light th{
      color: $white;
      letter-spacing: 0.5px;
      background: #438BAD;
      font-weight: 500;
      border: none;
      text-transform: uppercase;
    }
  }
}

._ost_supply,
._activity_log{
  background: #f1f5f8;
  border-radius: 5px;
}

.graphs-nodata-1{
  width: 100%;
  height: 100%;
  background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/graph-blur-no-data.jpg');
  background-size: cover;
  padding: 10px;
  text-align: center;
  p{
    color: #438bad;
  }
}

.graphs-nodata-2{
  width: 100%;
  height: 100%;
  background-image: url('https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/graph-blur-no-data-2.png');
  background-size: cover;
  padding: 10px;
  text-align: center;
  p{
    color: #438bad;
  }
}

.dashboard-tabs {

  .card {
    border-radius: 0;
  }

  .middle-content-wrapper {
    position: relative;

    .icon-wrapper {
      position: absolute;
      background-color: $white;
      padding: 5px;
      z-index: 1;
    }

    .icon-wrapper:first-child {
      top: 50%;
      margin-top: -15px;
      left: -10px;
    }

    .icon-wrapper:last-child {
      top: 50%;
      margin-top: -15px;
      right: -10px;
    }
  }
}