html, body{
  height: 100%;
}
#app-content{
  &.wrapper {
    display: flex;
  }
}

/* ---------------------------------------------------
    OST HEADER STYLE
----------------------------------------------------- */
.header-height {
  height: $ost-header-height;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: calc(100% - 250px);
  margin-left: 250px;
  min-height: calc(100vh - #{$ost-header-height});
  transition: all 0.3s;
  .container {
    margin: 0 auto;
    max-width: 960px;
    //background: #ffffff;
  }
  #cover-container {
    .cover-element {
      position: fixed;
      z-index: 10;
      top: 100%;
      background-color: white;
      display: none;
      height: calc(100vh - #{$ost-header-height});
      max-width: calc(960px - #{$grid-gutter-width});
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      background-color: beige;
    }
    .active-cover {

    }

  }

  &.active{
    width: 100%;
    margin-left: 0;
  }

}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #content {
    width: 100%;
  }
  #content.active {
    width: calc(100% - 250px);
  }
  #sidebarCollapse span {
    display: none;
  }
}