// Import body level CSS
@import "token_icons";
// Import functions as variables depend on functions
@import "../../plugins/bootstrap/scss/functions";

// Import theme variables
@import "../Starboy/variables";

.code-session {
  display: none;
  background-color: $black;
  padding: 30px 20px;

  .code-comment  {
    color: $pink;
  }

  .code-line {
    color: $orange;
  }
}

.pie-chat svg > g:last-child > g:last-child { 
  pointer-events: none;
}