.btn{
  text-transform: uppercase;
  font-weight: 300;
  min-width: 200px;
  letter-spacing: 1px;
}

.btn-gold{
  border-color: $yellow-300;
  background: $yellow-300;
  color: #fff;
  &.focus-cls,
  &:focus{
    color: #fff;
    outline: none;
    text-decoration: none;
  }
  &.hover-cls, &.active-cls,
  &:hover, &:active{
    color: #fff;
    text-decoration: none;
    background-color: $yellow-400;
    border-color: $yellow-400;
  }
}

.btn-steps-nav{
  font-size: 0.8rem;
  border-radius: 0;
  color: #fff;
  &.focus-cls,
  &:focus{
    color: #fff;
    outline: none;
    text-decoration: none;
  }
  &.hover-cls, &.active-cls,
  &:hover, &:active{
    color: #fff;
    text-decoration: none;
  }
  &.bg-yellow{
    border-color: #af7f19;
    background: #af7f19;
  }
}

.btn-white{
  border-color: #7f9183;
  background: #ffffff;
  color: #7f9183;
  &.focus-cls,
  &:focus{
    color: #7f9183;
    outline: none;
    text-decoration: none;
  }
  &.hover-cls, &.active-cls,
  &:hover, &:active{
    color: #7f9183;
    text-decoration: none;
    background-color: #ffffff;
    border-color: #7f9183;
  }
}

.btn-api{
  border-color: #597a84;
  background: #f1f5f8;
  color: #597a84;
  &.focus-cls,
  &:focus{
    color: #597a84;
    outline: none;
    text-decoration: none;
  }
  &.hover-cls, &.active-cls,
  &:hover, &:active{
    color: #7f9183;
    text-decoration: none;
    background-color: #ffffff;
    border-color: #7f9183;
  }
}

.btn-gold-border{
  border: 1px solid #e4b030;
  background: #ffffff;
  color: #e4b030;
  font-size: 1rem;
  &.focus-cls,
  &:focus{
    color: #ffffff;
    outline: none;
    text-decoration: none;
  }
  &.hover-cls, &.active-cls,
  &:hover, &:active{
    color: #ffffff;
    text-decoration: none;
    background-color: #D9A025;
    border-color: #D9A025;
  }
}

.edit-btn{
  padding: 4px 8px;
  display: inline-block;
  text-align: center;
  border: 1px solid #84d1d4;
}