.card-planner{

  box-shadow: 0 3px 14px 4px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  border: none;

  .card-header{
    background: $card-bg;
    border-bottom: 1px solid #dbf2f2;;
    .card-title,
    .card-text{
      color: color('blue-700');
    }

    a{
      color: color('blue-700');
    }

    .card-title{
      color: $cyan;
//      font-size: 1.2rem;
      font-weight: 500;
    }

    .card-text{
      font-size: 0.8rem;
    }
  }

}

.card-link{
  color: $blue-500;
  font-size: 0.8rem;
  letter-spacing: 0.4px;
  border-bottom: 1px solid $blue-500;
  &:hover{
    color: $blue-500;
  }
}

._tabs{

  .card{
    background: $white;
    font-size: 0.8rem;
    border: 1px solid $shakespeare;
    .card-title{
      font-size: 0.8rem;
    }
  }

}