.card-planner{

  box-shadow: 0 3px 7px 2px rgba(0, 0, 0, 0.08);
  border-radius: 5px;

  .card-header{
    background: #c1e8e9;

    .card-title,
    .card-text{
      color: color('blue-700');
    }

    a{
      color: color('blue-700');
    }

    .card-title{
      font-size: 1.2rem;
      font-weight: 500;
    }

    .card-text{
      font-size: 0.8rem;
    }
  }

}