.form-group{

  .form-label{
    color: color('blue-700');
    margin: 0 0 5px 0;
    font-size: 0.9rem;
  }

  .form-check-label{
    color: #747a80;
  }

  .form-control{
    border: 1px solid #cdd7da;
  }

  .form-text{
    color: color('blue-700') !important;
  }

  .error{
    color: color('red');
    font-size: 0.8rem;
    height: 0.8rem;
  }

  .form-control-input-group{
    border-right: 0 !important;
  }

  .input-group-inline{
    background: none;
    svg.icon{
      height: 22px;
      width: 22px;
      fill: #d3e3e5;
    }
  }

  .slider-with-input{

    input.form-control{
      font-size: 0.8rem;
    }

    .slider-track{
      background: none;
      box-shadow: none;
    }

    .slider-selection{
      background: $blue-700;
      box-shadow: none;
    }

    .slider-handle{
      background: $blue-700;
    }

    .slider-track-high{
      border: 1px solid $blue-700;
    }

    .tooltip{
      .tooltip-inner{
        color: $blue-700;
        background-color: $white;
        border: 1px solid $blue-700;
        font-size: 0.75rem  ;
        border-radius: $border-radius-lg;
      }
    }

    ~.error{
      text-align: right;
    }

    &.slider-yellow{
      .slider-selection{
        background: $yellow-300;
      }
      .slider-handle{
        background: $yellow-300;
      }
      .slider-track-high{
        border: 1px solid $yellow-300;
      }
      .tooltip{
        .tooltip-inner{
          color: $yellow-300;
          background-color: $white;
          border: 1px solid $yellow-300;
        }
      }
    }

    &.slider-primary {
      .slider-selection{
        background: #597a84;
      }
      .slider-handle{
        background: #597a84;
      }
      .slider-track-high{
        border: 1px solid #597a84;
      }
    }

  }

}

.user-form{

  .form-title{
    color: color('blue-700');
    font-size: 24px;
    text-align: center;
    font-weight: 400;
  }

  .form-group{

    .form-label{
      color: #6c9ba9;
      text-transform: uppercase;
      font-size: 0.75rem;
      margin: 0 0 5px 0;
    }

    .form-check-label{
      color: #747a80;
      font-size: 12px;
    }

    .form-control{
      border: 1px solid #cdd7da;
      font-size: 15px;
    }

    .form-text{
      color: #597a84 !important;
      font-size: 12px;
    }

  }

  .zxcvbn-group {
    overflow: hidden;

    .zxcvbn {
      height: 8px;
      background: #f2f2f2;
      float: left;
      width: 19%;
      margin: 8px 1% 0 0;
    }
    .zxcvbn-0 {
      background-color: #e7003b;
    }
    .zxcvbn-1 {
      background-color: #ff7a00;
    }
    .zxcvbn-2 {
      background-color: #e6e664;
    }
    .zxcvbn-3 {
      background-color: #a7d646;
    }
    .zxcvbn-4 {
      background-color: #30b3c5;
    }
  }
}

.form-container-sm{
  max-width: 540px;
  margin: 0 auto;
}
.form-container-md{
  max-width: 720px;
  margin: 0 auto;
}

.general_error {
  text-align: center;
}