svg.get-help-icon{
  height: 44px;
  width: 35px;
  fill: rgba(67, 139, 173, 0.5);
}
svg.icon-api{
  height: 20px;
  width: 20px;
  fill: #84d1d4;
}
svg.icon-edit{
  height: 18px;
  width: 16px;
  fill: #84d1d4;
}
svg.icon-play{
  height: 15px;
  width: 15px;
  fill: #eccf92;
}
//svg{
//  pointer-events: none;
//}