svg.get-help-icon{
  height: 44px;
  width: 35px;
  fill: rgba(67, 139, 173, 0.5);
}
svg.icon-api-transactions{
  height: 20px;
  width: 20px;
  fill: #a1c5d6;
  pointer-events: none;
}
svg.icon-edit-transactions{
  height: 18px;
  width: 16px;
  fill: #a1c5d6;
  pointer-events: none;
}
svg.icon-play{
  height: 15px;
  width: 15px;
  fill: #34445b;
}
.icon-card-transactions{
  height: 15px;
  width: 15px;
  fill: #438BAD;
}
.icon-fund-wallet{
  height: 100px;
  width: 100px;
  fill: #438BAD;
}
.icon-simulator{
  height: 100px;
  width: 100px;
}
//svg{
//  pointer-events: none;
//}