svg.get-help-icon{
  height: 44px;
  width: 35px;
  fill: rgba(67, 139, 173, 0.5);
}
svg.icon-api-transactions{
  height: 20px;
  width: 20px;
  fill: #84d1d4;
  pointer-events: none;
}
svg.icon-edit-transactions{
  height: 18px;
  width: 16px;
  fill: #84d1d4;
  pointer-events: none;
}
svg.icon-play{
  height: 15px;
  width: 15px;
  fill: #eccf92;
}
.icon-card-transactions-2{
  height: 15px;
  width: 15px;
  fill: #438BAD;
}
.icon-card-transactions-3{
  height: 15px;
  width: 15px;
  fill: #438BAD;
}
//svg{
//  pointer-events: none;
//}