.modal{
  .modal-content{
    padding: 1rem;
    border-radius: 0;
    position: relative;
  }
  .modal-header{
    border-bottom: none;
  }
  .heading{
    font-size: 1.6rem;
    color: color('cyan');
  }
  .desc{
    font-size: 0.9rem;
    color: color('blue-700');
  }
  .desc-2{
    font-size: 0.8rem;
    color: $blue-700;
  }
  .btn{
    font-size: 0.9rem;
    line-height: 100%;
    letter-spacing: 1px;
    padding: 0.75rem 1rem;
  }
  .close{
    top: 10px;
    z-index: 1;
    right: 10px;
    position: absolute;
  }
  .card{
    padding: 8px;
    margin: 10px;
    background-color: $alice-blue;
    .item-1{
      font-size: 0.8rem;
      color: rgba(67, 139, 173, 0.8);
    }
    .item-2{
      color: $blue-600;
      font-size: 0.8rem;
    }
  }
  .badge{
    top: 0;
    right: 0;
    padding: 5px 15px;
    color: color('white');
    width: 25%;
    &.test-net{
      background-color: #f5a623;
    }
    &.side-chain{
      background-color: $blue-700;
    }
  }
}