.ost__planner{
  &__heading{
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: color('cyan');
  }
  &__desc{
    font-size: 1rem;
    color: color('blue-700');
  }
  &__circle{
    width: 60px;
    height: 60px;
    line-height: 60px;
    letter-spacing: 1px;
    color: color('white');
    display: inline-block;
    background-color: #9064a2;
  }
  &__list{
    padding: 0;
    &__item{
      &:first-child{
        font-size: 1.3rem;
        letter-spacing: 1px;
        color: color('cyan');
      }
      font-size: 0.9rem;
      list-style-type: none;
      letter-spacing: 0.4px;
      color: color('blue-700');
      padding: 0.75rem 1.25rem;
      border-bottom: 1px solid $blue-100;
    }
  }
}