.sidebar-nav{

  background: color("teal-bg");
  width: $side-bar-nav-width;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: $zindex-dropdown;
  transition: $transition-base;
  padding-top: 80px;

  &.active{
    margin-left: -$side-bar-nav-width;
  }

  @media (max-width: 768px) {
    margin-left: -$side-bar-nav-width;
    &.active {
      margin-left: 0;
    }
  }

  //
  // Pills
  //

  .nav-pills {

    .nav-link{
      color: color("blue-400");
      border-radius: inherit;
      border-top: 1px solid rgba($teal, 0.2);
      padding: 0.8rem $nav-link-padding-x;

      svg.icon{
        height: 22px;
        width: 22px;
        fill: color("blue-300");
      }

      span.label{
        margin-left: 12px;
      }
    }

    .nav-link.active,
    .show > .nav-link {
      color: $nav-pills-link-active-color;
      background-color: color("teal");

      svg.icon{
        fill: $nav-pills-link-active-color;
      }

      .badge{
        color: color("teal");
        background-color: $nav-pills-link-active-color;
      }
    }

    .badge{
      color: $nav-pills-link-active-color;
      background-color: color("teal");
      text-transform: uppercase;
      font-weight: inherit;
      font-size: 0.7rem;
    }

  }

}