.sidebar-nav{

  background: $teal-bg;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: $zindex-dropdown;
  transition: $transition-base;
  padding-top: 80px;

  //
  // Pills
  //

  .nav-pills {

    .nav-link{
      color: $blue-400;
      border-radius: inherit;
      border-top: 1px solid rgba($teal, 0.2);
      padding: 0.8rem $nav-link-padding-x;

      svg{
        height: 22px;
        width: 22px;
        fill: $blue-300;
      }

      span{
        margin-left: 12px;
      }
    }

    .nav-link.active,
    .show > .nav-link {
      color: $nav-pills-link-active-color;
      background-color: $teal;

      svg{
        fill: $nav-pills-link-active-color;
      }
    }


  }

}