.transactions{
  width: 100%;
  max-width: 100%;
  th{
    color: $cyan;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    font-weight: $font-weight-normal;
  }
  td {
    color: $blue-700;
  }
}

