<div class="container">
<%= render :partial => "/web/economy/users/users_list" %>
<% content_for :cover_elements do %>
  <div id="air-drop-tokens-eidtor" class="cover-element">
    <div class="container">
      <%= render :partial => "/web/economy/users/users_token_airdrop"%>
    </div>
  </div>
<% end %>
</div>
