.commission-content-wrapper {

  .commission-enabled-content {
    display: none;
  }

  .commission-disabled-content {
    display: block;
  }

  &.has-commission {
    .commission-enabled-content {
      display: block;
    }

    .commission-disabled-content {
      display: none;
    }
  }
}

.action-amount-content-wrapper{
  .action-amount-enabled-content {
    display: none;
  }

  .action-amount-disabled-content {
    display: block;
  }

  &.has-action-amount {
    .action-amount-enabled-content {
      display: block;
    }

    .action-amount-disabled-content {
      display: none;
    }
  }
}