<div class="container-fluid py-6 cloud-bg h-100">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="error-content text-center">
        <h2 class="mb-4">Sign up to create real Proofs of Concept in OST KIT⍺ Phase II</h2>
        <p class="text-muted font-weight-light">
          The Second Phase of OST KIT⍺ is now open for Developers to successfully demo Proof of Concept integrations with OST KIT. Every developer who succeeds will receive an $OST token grant of at least 100,000 OST!
        </p>
        <a target="_blank" class="btn btn-secondary live-update-btn mt-2" href="https://pipedrivewebforms.com/form/373065ae6888d2c9b1e2991098004ba32672548" title="Fill out this Form to get accepted">
          Fill out this Form to get accepted
        </a>
      </div>
    </div>
  </div>
</div>