<div class="container">
  <div class="row ost__planner">
    <div class="col-12">
      <h2 class="text-center mt-5">Use Chrome Desktop Browser to Continue</h2>
    </div>
  </div>
  <div class="row ost__planner">
    <div class="col-12 col-md-8 ml-auto mr-auto">
      <div class="text-center">
        <p class="lead font-weight-light mb-5">OSTKIT alpha requires Google Chrome desktop browser and Metamask.
          See the instructions below to get started.</p>
        <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/only-chrome-logo.png" width="210" height="55" alt="Only Chrome "/>
        <h3 class="text-center mt-6">Getting started</h3>
        <ul class="ost__planner__list">
          <li class="ost__planner__list__item font-weight-light">What do I need to see the Demo?</li>
          <li class="ost__planner__list__item font-weight-light">Installing MetaMask, your digital wallet!</li>
          <li class="ost__planner__list__item font-weight-light">Why is MetaMask locked?</li>
        </ul>
      </div>
    </div>
  </div>
</div>