.btn{
  font-weight: 500!important;
  text-transform: uppercase;
  font-size: 0.9rem!important;
  border-width: 1.5px!important;
  padding: 0.75rem 1.6rem!important;
  letter-spacing: 1px;

  &.btn-primary{
    border-color:#E4B030;
    background: #E4B030;
    &:focus{
      color: #fff;
      outline: none;
      text-decoration: none;
      box-shadow: none;
    }
    &:active{
      border-color:#D9A025!important;
      background-color: #D9A025!important;
    }
    &:hover{
      color: #fff;
      text-decoration: none;
      border-color:#D9A025!important;
      background-color: #D9A025!important;
    }
  }

  &.btn-secondary{
    border: 1px solid #34445b;
    background-color: #ffffff;
    color: #34445b;
    &:focus{
      color: #34445b;
      outline: none;
      text-decoration: none;
      box-shadow: none;
    }
    &:active{
      color: #34445b!important;
      border-color:#34445b!important;
      background-color: #ffffff!important;
    }
    &:hover{
      color: #fff;
      text-decoration: none;
      background-color: #34445b;
      border-color: #34445b;
    }
  }

  &.btn-gold-border{
    border: 1px solid #e4b030;
    background: #ffffff;
    color: #e4b030;
    &.focus-cls,
    &:focus{
      color: #7f9183;
      outline: none;
      text-decoration: none;
    }
    &.hover-cls, &.active-cls,
    &:hover, &:active{
      color: #7f9183;
      text-decoration: none;
      background-color: #ffffff;
      border: 1px solid #7f9183;
    }
  }


  &.btn-white-border-blue{
    border: 1px solid #34445b;
    background-color: #ffffff;
    color: #34445b;
    &:focus{
      color: #34445b;
      outline: none;
      text-decoration: none;
    }
    &:hover,&:active{
      color: #fff;
      text-decoration: none;
      background-color: #34445b;
      border-color: #34445b;
    }
  }

}