.content-wrapper {
  height: 600px;
  position: relative;
  padding: 10px;

  .content {
    position: relative;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(206,212,218,1);
    -moz-box-shadow: 0px 0px 5px 2px rgba(206,212,218,1);
    box-shadow: 0px 0px 5px 2px rgba(206,212,218,1);
  }

  .date-wrapper {
    position: absolute;
    bottom: 0;
    padding: 5px;

    .date-content {
      border-top : 1px solid #ced4da;
      font-size: 10px;
    }
  }

  .carousel-description , .carousel-title {
    padding: 10px;
  }
}

.one-el-wrapper {
  .content-wrapper {
    height: 620px;
  }
}

.tow-el-wrapper {
  .content-wrapper {
    .content {
      height: 290px;
    }

    .content:first-child {
      margin-bottom: 20px;
    }
  }
}

.video-wrapper {
    position: relative;
    display: inline-block;

    .video-btn {
      position: absolute;
      background: transparent;
      top : 0;
    }

    svg.icon-play {
      height: 15px;
      width: 15px;
      fill: #eccf92;
    }
}
