.container-powered{
  background-color: #aee1e3;
  padding-top: 40px;
  padding-bottom: 170px;
  h1{
    color: #ffffff;
    font-weight: 300;
  }
  p{
    color: #597a84;
    font-weight: 300;
    letter-spacing: 0.4px;
  }
}

.container-powered-containers{
  margin: -150px auto 20px auto;
}