$font-primary: #597a84;
$font-secondary: #438bad;
$font-gold: #e4b030;

.navbar{
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 0.5px 3px 1.3px rgba(237, 242, 246, 0.89);
  .navbar-brand{
    color: $font-primary;
    font-size: 1rem;
  }
  .navbar-nav{
    .nav-item{
      @media(min-width: 768px){
        border-left: solid 1px #edf2f6;
      }
      .nav-link{
        color: #438bad;
        font-size: 0.8rem;
        align-items: center;
        height: 100%;
        letter-spacing: 1px;
        padding: 0.5rem 1rem;
        .gold{
          color: $font-gold;
        }
      }
    }
  }
}