#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #ffffff;
  color: #7f9183;
  transition: all 0.3s;

  &.active{
    margin-left: -250px;
  }

  .sidebar-header {
    padding: 60px 20px 20px 20px;
    background: #ffffff;
  }
}