#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #ffffff;
  color: #7f9183;
  transition: all 0.3s;

  &.active{
    margin-left: -250px;
  }

  .sidebar-header {
    padding: 60px 20px 20px 20px;
    background: #ffffff;
  }

  ul.components{
    padding: 20px 0;

    li{
      a{
        padding: 10px;
        font-size: 1.1em;
        display: block;

        &:hover{
          color: #7f9183;
          background: #fff;
        }
      }

      &.active{
        a,
        a[aria-expanded="true"] {
          color: #fff;
          background: #6c9ba9;
        }
      }

      a[data-toggle="collapse"] {
        position: relative;
      }

      a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        content: '\e259';
        display: block;
        position: absolute;
        right: 20px;
        font-family: 'Glyphicons Halflings';
        font-size: 0.6em;
      }

      a[aria-expanded="true"]::before {
        content: '\e260';
      }

    }

    ul{
      a{
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6c9ba9;
      }
    }

    p{
      color: #fff;
      padding: 10px;
    }
  }
}