<%
  bt_name   = @presenter_obj.client_token.name;
%>
<div class="row ost__planner">
  <div class="col-12">
    <h3 class="text-center mb-0">Plan the <%= bt_name %> Economy in 3 Easy Steps</h3>
  </div>
</div>
<%=
      render partial: '/shared/web/common/steps',
        locals: {
        classes: {
        step_2: 'active',
        step_3: 'incomplete',
        connector_2: 'incomplete'
      }
      }
%>