<div class="row">
  <div class="col-12 pt-6 pb-3">
    <h3 class="text-center font-weight-bold letter-space-1"> Oops, it looks like there a problem!</h3>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-8 ml-auto mr-auto">
    <div class="text-center">
      <p class="font-weight-light mb-5 text-muted">
        Unfortunately, due to network connectivity issues the process has failed and cannot be re-started without our help.
      </p>
      <div class="mb-5">
        <span class="font-weight-normal mb-5 text-muted"> Please contact support@ost.com for assistance. </span>
      </div>
      <div class="btn-wrapper">
        <button class="btn ost-btn-secondary close-process-failure-error-btn"> Back </button>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $(function () {
     $('.close-process-failure-error-btn').on('click' , function () {
       ost.coverElements.hide("#process_failure_error_cover");
     });
    });
  </script>
<% end %>