<div class="row">
  <div class="col-12">
    <h3 class="text-center mt-4">Plan the Francesco Coin Economy in 3 Easy Steps</h3>
    <%= render partial: 'shared/web/common/steps' %>
    <hr class="mt-3 mb-4"/>
    <%= render partial: 'shared/web/common/slider',
               locals: {
                       label: 'How much do you want 1 Francesco Coin to be worth?',
                       id: 'some_id',
                       name: 'some_id',
                       type: 'number',
                       min: 1,
                       max: 10,
                       step: 1,
                       value: 2,
                       tooltip: 'always'
               }
    %>
    <hr class="mt-3 mb-4"/>
    <%= render partial: 'shared/web/common/slider',
               locals: {
                       label: 'How many Francesco Coin users do you plan to begin with?',
                       id: 'some_id',
                       name: 'some_id',
                       type: 'number',
                       min: 1,
                       max: 10,
                       step: 1,
                       value: 2,
                       tooltip: 'always'
               }
    %>
    <hr class="mt-3 mb-4"/>
    <%= render partial: 'shared/web/common/slider',
               locals: {
                       label: 'How much Francesco Coin do you wish to airdrop to each user to begin with?',
                       id: 'some_id',
                       name: 'some_id',
                       type: 'number',
                       min: 1,
                       max: 10,
                       step: 1,
                       value: 2,
                       tooltip: 'always'
               }
    %>
    <hr class="mt-3 mb-4"/>
    <div class="p-3 mt-3 mb-3 text-center" style="background: #f9f8e6; color: #597a84">For the purpose of this simulation we will create 25 users for your application</div>
  </div>
  <div class="col-12">
    <button id="getInitialOstBtn"> Get Initial OST</button>
  </div>
</div>