<div class="row">
  <div class="col-12">
    <h3 class="text-center mt-4">Plan the Francesco Coin Economy in 3 Easy Steps</h3>
    <hr />
    <%= render partial: 'shared/web/common/slider',
               locals: {
                       label: 'How much do you want 1 Francesco Coin to be worth?',
                       id: 'some_id',
                       name: 'some_id',
                       type: 'number',
                       min: 1,
                       max: 10,
                       step: 1,
                       value: 2,
                       tooltip: 'always'
               }
    %>
    <hr />
    <%= render partial: 'shared/web/common/slider',
               locals: {
                       label: 'How many Francesco Coin users do you plan to begin with?',
                       id: 'some_id',
                       name: 'some_id',
                       type: 'number',
                       min: 1,
                       max: 10,
                       step: 1,
                       value: 2,
                       tooltip: 'always'
               }
    %>
    <hr />
    <%= render partial: 'shared/web/common/slider',
               locals: {
                       label: 'How much Francesco Coin do you wish to airdrop to each user to begin with?',
                       id: 'some_id',
                       name: 'some_id',
                       type: 'number',
                       min: 1,
                       max: 10,
                       step: 1,
                       value: 2,
                       tooltip: 'always'
               }
    %>
    <hr />
  </div>
  <div class="col-12">
    <button id="getInitialOstBtn"> Get Initial OST</button>
  </div>
</div>