<li class="nav-item">
    <span class="nav-link" href="#">
      <span class="d-block">Network</span>
      <span class="d-block gold text-sm-left text-md-center">
        <% if GlobalConstant::Base.main_sub_environment? %>Mainnet<% else %>Testnet<% end %>
      </span>
    </span>
</li>