.users-list-container {

  .user-name-input-wrapper {
    position: relative;
    top: 5px;
  }


}
.users-infotext{

  font-size: 0.9rem;
  text-align: center;
  color: #438bad;

}

.arrow-icon-top{
  &:after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    transform: rotate(45deg);
    top: -8px;
    left: 20px;
    box-shadow: -1px -1px 5px -2px rgba(0, 0, 0, 0.1);
  }
}
