<div class="modal fade" id="airdrop_token_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <img alt="loader-icon" class="img-responsive">
        <div>Airdropping <span data-ost-mock-element="#airdrop-value" class="airdrop-token-value"></span> FRC  to the selected user</div>
      </div>
    </div>
  </div>
</div>