<div class="modal fade" id="stake-mint-confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h1 class="heading font-weight-normal">Please Review and Confirm</h1>
        <p class="desc font-weight-light">Francesco Coin</p>
        <div class="row no-gutters">
          <div class="col-xs-12 col-md-6 col-lg-4 ml-auto text-left">
            <div class="card rounded font-weight-normal border-0">
              <div class="item-1">FRC YOU WISH TO MINT</div>
              <div class="item-2">45,000</div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4 mr-auto text-left">
            <div class="card rounded font-weight-normal border-0">
              <div class="item-1">OST STAKED FOR MINTING</div>
              <div class="item-2">450</div>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-xs-12 col-md-6 col-lg-4 ml-auto text-left">
            <div class="card rounded font-weight-normal border-0">
              <div class="item-1">TOKEN CONVERSION RATE (OST)</div>
              <div class="item-2">1 FRC = 100 OST</div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-lg-4 mr-auto text-left">
            <div class="card rounded font-weight-normal border-0">
              <div class="item-1">TOKEN VALUE IN USD</div>
              <div class="item-2">1 FRC = $0.60</div>
            </div>
          </div>
        </div>
        <p class="desc-2 font-weight-light mt-5 mb-5">You will not be able to change your token name and the Token Conversion rate after confirmation. Please review all the information carefully before Confirming.</p>
        <button type="button" class="btn btn-gold font-weight-light" title="Confirm">confirm</button>
      </div>
    </div>
  </div>
</div>