<div class="modal fade" id="stake-mint-processing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h3>Processing...</h3>
        <!-- div class="row">
          <div class="col-8 ml-auto mr-auto text-left">
            <p class="card lead rounded font-weight-lighter border-0">Transfering OST to staker.</p>
          </div>
        </div -->
        <div class="row">
          <div class="col-8 ml-auto mr-auto text-left">
            <p class="card lead rounded font-weight-lighter border-0">Branded Token Name Reserved</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 ml-auto mr-auto text-left">
            <p class="card lead rounded font-weight-lighter border-0">410 OST Staked for Minting</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 ml-auto mr-auto text-left">
            <p class="card lead rounded font-weight-lighter border-0">Mint Francesco Coin</p>
          </div>
        </div>
        <div class="row">
          <div class="col-8 ml-auto mr-auto text-left">
            <p class="card lead rounded font-weight-lighter border-0">Airdrop Coins</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>