<div class="modal fade" id="verify-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h1 class="heading font-weight-normal">Verify Your Email Address Before proceeding</h1>
        <p class="desc font-weight-light">We have sent an email to francesco@frc.com please click on the Verify Button in the email to Activate your account</p>
        <div class="desc font-weight-light mb-2">Did not receive the verification link?</div>
        <button type="button" class="btn btn-gold font-weight-light" title="RE-SEND VERIFICATION LINK">re-send verification link</button>
      </div>
    </div>
  </div>
</div>