<div class="modal fade" id="verify-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100 mx-auto my-0" role="document">
    <div class="modal-content text-center">
      <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body">
        <h1 id="verify-email-header" data-success-text="Verification Email Sent" class="heading font-weight-normal">
          Verify Your Email Address Before proceeding
        </h1>
        <p class="desc font-weight-light">We have sent an email to <%= @presenter_obj.user.email %> please click on the Verify Button in the email to Activate your account</p>
        <div class="desc font-weight-light mb-2">Did not receive the verification link?</div>
        <form id="form-resend-verification" action="/api/client/send-verify-email-link" method="POST" data-ost-formhelper>
          <button id="resend-verification-email-btn" type="submit" class="btn btn-gold font-weight-light" data-submiting="Sending...">Re-send email</button>
          <input type="hidden" name="email" value="<%= @presenter_obj.user.email %>" />
          <div class="general_error invalid-feedback" data-forid="form-resend-verification">&nbsp;</div>
        </form>
      </div>
    </div>
  </div>
</div>