<%

  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  ost_to_fiat = @presenter_obj.client_balances.ost_to_fiat_conversion_factor(fiat_type)
  ost_fiat_balance = @presenter_obj.client_balances.ost_fiat_balance(fiat_type)

  ost_balance = @presenter_obj.client_balances.ost_balance
  ost_to_bt = @presenter_obj.client_token.conversion_factor

  indicative_fraction = 0.25
  bt_st_primt_ratio = 0.9

  min_bt_to_mint = 1
  max_bt_to_mint = bt_st_primt_ratio * ost_balance * ost_to_bt

  min_st_prime_to_mint = 1
  max_st_prime_to_mint = (1-bt_st_primt_ratio) * ost_balance

  indicative_bt_to_mint =  (max_bt_to_mint * indicative_fraction).to_i
  indicative_stp_to_mint =  (max_st_prime_to_mint * indicative_fraction).to_i

  ost_to_bt_input_name = "ost_to_bt"
  bt_to_mint_input_name = "bt_to_mint"

%>
<div class="row">
  <div class="col-12">
    <form id="token_supply_mint_form" action="/api/economy/token/stake-and-mint"  method="POST" 
      class="form-container user-form" data-ost-formhelper>
        <div class="card card-planner mb-5">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="card-title mb-1">Mint Tokens</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="user-form">
              <%= render :partial => "web/economy/token_supply/mint_bt_widget",
                         :locals => {
                                 :ost_to_bt_input_name => ost_to_bt_input_name,
                                 :bt_to_mint_input_name => bt_to_mint_input_name,
                                 :stake_and_mint_form_id => "token_supply_mint_form",
                                 :bt_to_mint => indicative_bt_to_mint,
                                 :min_bt_to_mint => min_bt_to_mint,
                                 :max_bt_to_mint => max_bt_to_mint,
                                 :min_st_prime_to_mint => min_st_prime_to_mint,
                                 :max_st_prime_to_mint => max_st_prime_to_mint
                         }
              %>
            </div>
          </div>
        </div>  
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-gold">Mint Tokens</button>
          </div>
        </div>
    </form>
  </div>
</div>