<%

  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  ost_to_fiat = @presenter_obj.client_balances.ost_to_fiat_conversion_factor(fiat_type)
  ost_fiat_balance = @presenter_obj.client_balances.ost_fiat_balance(fiat_type)

  ost_balance = @presenter_obj.client_balances.ost_balance
  ost_to_bt = @presenter_obj.client_token.conversion_factor

  indicative_fraction = 0.25
  bt_st_primt_ratio = 0.9

  min_bt_to_mint = 0
  max_bt_to_mint = bt_st_primt_ratio * ost_balance * ost_to_bt

  min_st_prime_to_mint = 0
  max_st_prime_to_mint = (1-bt_st_primt_ratio) * ost_balance

  indicative_bt_to_mint =  (max_bt_to_mint * indicative_fraction).to_i
  indicative_stp_to_mint =  (max_st_prime_to_mint * indicative_fraction).to_i

  ost_to_bt_input_name = "ost_to_bt"
  bt_to_mint_input_name = "bt_to_mint"

%>
<div class="row">
  <div class="col-12" id="token_supply_widget_wrap" style="display: none">
    <form id="token_supply_mint_form" action="/api/economy/token/stake-and-mint"  method="POST" 
      class="form-container user-form" data-ost-formhelper>
        <div class="card card-planner mb-5">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="card-title mb-1">Mint Tokens</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="user-form">
              <%= render :partial => "web/economy/token_supply/mint_bt_widget",
                         :locals => {
                                 :ost_to_bt_input_name => ost_to_bt_input_name,
                                 :bt_to_mint_input_name => bt_to_mint_input_name,
                                 :stake_and_mint_form_id => "token_supply_mint_form",
                                 :bt_to_mint => indicative_bt_to_mint,
                                 :min_bt_to_mint => min_bt_to_mint,
                                 :max_bt_to_mint => max_bt_to_mint,
                                 :min_st_prime_to_mint => min_st_prime_to_mint,
                                 :max_st_prime_to_mint => max_st_prime_to_mint
                         }
              %>
            </div>
          </div>
        </div>  
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-gold">Mint Tokens</button>
          </div>
        </div>
    </form>
  </div>
  <div class="col-12" id="token_supply_widget_overlay">
    <div class="alert alert-info text-center">
      <h3 class="mt-4 mb-4">Mint  Tokens</h3>
      <div class="simulator-image-wrapper m-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 311 265">
          <g id="V9" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Token_supply" transform="translate(-1529.000000, -945.000000)">
              <g id="Group-5" transform="translate(1533.000000, 949.000000)">
                <g id="Group-6" stroke="#BFE6E8" stroke-dasharray="0.1,20" stroke-linecap="round" stroke-linejoin="round" stroke-width="7">
                  <path d="M25,0 L278.360784,-3.55271368e-15 C292.167903,-6.08904025e-15 303.360784,11.1928813 303.360784,25 L303.360784,232 C303.360784,245.807119 292.167903,257 278.360784,257 L25,257 C11.1928813,257 -1.8618293e-15,245.807119 -3.55271368e-15,232 L-3.55271368e-15,25 C-5.24359806e-15,11.1928813 11.1928813,-1.01638711e-15 25,-3.55271368e-15 Z" id="Rectangle-3"></path>
                </g>
                <g id="Group-8" transform="translate(59.000000, 85.000000)">
                  <g id="Group-6" transform="translate(0.000000, 9.058824)">
                    <g id="Group-3-Copy" fill="#EFC34A">
                      <ellipse id="Oval-5" cx="36.1861216" cy="35.5384615" rx="36.1861216" ry="35.5384615"></ellipse>
                    </g>
                    <g id="Group-7" transform="translate(20.822384, 18.117647)" stroke="#FFFFFF" stroke-width="1.71600007">
                      <path d="M20.492359,26.3636364 L27.2107291,26.3636364 L31.3676651,7.60037547 C31.4247134,7.34168688 31.1600313,7.1429929 30.9612881,7.29552154 L21.9291256,14.2376088 L16.0035054,0.220632697 C15.8790362,-0.0734425378 15.4978495,-0.0736459094 15.3733803,0.220632697 L9.44627835,14.2376088 L0.414301032,7.29552154 C0.215557894,7.1429929 -0.0493094766,7.34168688 0.00792410201,7.60037547 L4.16467482,26.3636364 L10.7006013,26.3636364" id="Stroke-4"></path>
                      <path d="M5.54072828,31.6363636 L26.1791226,31.6363636" id="Stroke-6"></path>
                      <path d="M15.6877731,11.5514292 L15.6877731,31.6363636" id="Stroke-8" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </g>
                  <g id="Group-4" transform="translate(113.221711, 9.058824)">
                    <g id="Group-3-Copy-4" fill="#387592">
                      <ellipse id="Oval-5" cx="36.1861216" cy="35.5384615" rx="36.1861216" ry="35.5384615"></ellipse>
                    </g>
                    <path d="M38.6849447,32.8506084 C41.5329073,30.0224705 43.9381866,27.1764706 47.1089182,27.1764706 C51.5777212,27.1764706 55.2001298,30.7736636 55.2001298,35.2123517 C55.2001298,39.6510397 51.5777212,43.2482327 47.1089182,43.2482327 C43.2416848,43.2482327 39.9960068,39.1479289 36.7093581,35.3076153 C33.2798116,31.296621 30.2799577,27.1764706 26.36276,27.1764706 C21.8429935,27.1764706 18.2195857,30.7736636 18.2195857,35.2123517 C18.2195857,39.6510397 21.8429935,43.2482327 26.3117965,43.2482327 C29.4265682,43.2482327 32.4284207,40.2484219 35.0255627,37.6683662" id="Page-1" stroke="#FFFFFF" stroke-width="2.06406217" stroke-linejoin="round"></path>
                  </g>
                  <g id="Group-3" transform="translate(48.151762, 0.000000)">
                    <g id="Group-3-Copy-3" fill="#27B9D2">
                      <ellipse id="Oval-5" cx="44.5864712" cy="43.9384615" rx="44.5864712" ry="43.9384615"></ellipse>
                    </g>
                    <g id="Group-6-Copy" transform="translate(26.027980, 22.000000)" stroke="#FFFFFF" stroke-linejoin="round" stroke-width="2.6000002">
                      <path d="M0,0 L24.1426544,0 C31.1886057,0 36.8997712,4.12505592 36.8997712,11.8354408 C36.8997712,19.225236 31.1886057,23.6708816 24.1426544,23.6708816 L0.408816433,23.6708816" id="Stroke-11" stroke-linecap="round"></path>
                      <path d="M6.74301824,0 L6.74301824,44.3813813" id="Stroke-13"></path>
                      <path d="M18.6882256,0 L18.6882256,44.3813813" id="Stroke-15"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <p class="description-wrapper mb-4">
        Mint more tokens and power your economy as you need.
      </p>
      <div class="run-transaction-btn-wrapper mb-4">
        <button id="show_token_supply_widget_btn" class="btn btn-gold run-first-transaction-btn">Mint Tokens</button>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %> 
<script type="text/javascript">
  $(function () {
    ost.tokenSupply.init({
      idMintWidgetOverlay: "token_supply_widget_overlay"
      , idMintWidgetWrap: "token_supply_widget_wrap"
      , idShowWidgetBtn: "show_token_supply_widget_btn"
    });
  });
</script>
<% end %>