<%

  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  ost_to_fiat = @presenter_obj.client_balances.ost_to_fiat_conversion_factor(fiat_type)
  ost_fiat_balance = @presenter_obj.client_balances.ost_fiat_balance(fiat_type)

  ost_balance = @presenter_obj.client_balances.ost_balance
  ost_to_bt = @presenter_obj.client_token.conversion_factor

  min_bt_to_mint = 0
  min_st_prime_to_mint = 0

  if ost_balance > 10
    indicative_fraction = 0.25
    bt_st_primt_ratio = 0.9
    max_bt_to_mint = bt_st_primt_ratio * (ost_balance - min_st_prime_to_mint) * ost_to_bt
    max_st_prime_to_mint = (1-bt_st_primt_ratio) * ost_balance
  else
    indicative_fraction = 1
    max_bt_to_mint = 0
    max_st_prime_to_mint = ost_balance
  end

  max_st_prime_to_mint = max_st_prime_to_mint.floor
  max_bt_to_mint = max_bt_to_mint.floor

  indicative_bt_to_mint =  (max_bt_to_mint * indicative_fraction).to_i
  indicative_stp_to_mint =  (max_st_prime_to_mint * indicative_fraction).to_i

  ost_to_bt_input_name = "ost_to_bt"
  bt_to_mint_input_name = "bt_to_mint"

%>
<div class="row">
  <div class="col-12" id="token_supply_widget_wrap" style="display: none">
    <form id="token_supply_mint_form" action="/api/economy/token/stake-and-mint"  method="POST" 
      class="form-container user-form" data-ost-formhelper>
        <div class="card card-planner mb-5">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="mb-0">Mint Tokens | Reserve <%= ost_currency_symbol %> for Gas</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="user-form">
              <%= render :partial => "web/economy/token_supply/mint_bt_widget",
                         :locals => {
                                 :ost_to_bt_input_name => ost_to_bt_input_name,
                                 :bt_to_mint_input_name => bt_to_mint_input_name,
                                 :stake_and_mint_form_id => "token_supply_mint_form",
                                 :bt_to_mint => indicative_bt_to_mint,
                                 :min_bt_to_mint => min_bt_to_mint,
                                 :max_bt_to_mint => max_bt_to_mint,
                                 :min_st_prime_to_mint => min_st_prime_to_mint,
                                 :max_st_prime_to_mint => max_st_prime_to_mint
                         }
              %>
            </div>
          </div>
        </div>  
        <div class="row">
          <div class="col-12">
            <button id="mint-token-btn" type="submit" class="btn btn-gold">Continue</button>
            <% if max_st_prime_to_mint < 1 && max_bt_to_mint < 1 %>
              <div class="alert alert-warning d-inline" role="alert">
               <svg class="icon align-middle">
                    <switch> 
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use> 
                    </switch> 
                </svg>
                Insufficient OSTα. Please request more to complete the process.
              </div>
            <% elsif max_bt_to_mint < 1 %>
              <div class="alert alert-warning d-inline" role="alert">
                <svg class="icon align-middle">
                    <switch> 
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-error"></use> 
                    </switch> 
                </svg>
                Insufficient amount of <%= ost_currency_symbol %>. These can only be used to reserve gas.
              </div>
            <% end %>
            <div class="general_error invalid-feedback" data-forid="token_supply_mint_form">&nbsp;</div>
          </div>
        </div>
    </form>
  </div>
  <div class="col-12" id="token_supply_widget_overlay">
    <div class="card text-center p-5">
      <h3 class="mb-0">Mint  Tokens | Reserve <%= ost_currency_symbol %> for Gas</h3>
      <div class="simulator-image-wrapper my-4">
        <svg style="width: 150px">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mint-tokens"></use>
          </switch>
        </svg>
      </div>
      <div class="run-transaction-btn-wrapper">
        <button id="show_token_supply_widget_btn" class="btn btn-gold run-first-transaction-btn">CONTINUE</button>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %> 
<script type="text/javascript">
  $(function () {
    ost.tokenSupply.init({
      idMintWidgetOverlay: "token_supply_widget_overlay"
      , idMintWidgetWrap: "token_supply_widget_wrap"
      , idShowWidgetBtn: "show_token_supply_widget_btn"
    });
  });
</script>
<% end %>