<%

  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  ost_to_fiat = @presenter_obj.client_balances.ost_to_fiat_conversion_factor(fiat_type)
  ost_fiat_balance = @presenter_obj.client_balances.ost_fiat_balance(fiat_type)

  ost_balance = @presenter_obj.client_balances.ost_balance
  ost_to_bt = @presenter_obj.client_token.conversion_factor

  indicative_fraction = 0.25
  bt_st_primt_ratio = 0.9

  min_bt_to_mint = 0
  max_bt_to_mint = bt_st_primt_ratio * ost_balance * ost_to_bt

  min_st_prime_to_mint = 0
  max_st_prime_to_mint = (1-bt_st_primt_ratio) * ost_balance

  indicative_bt_to_mint =  (max_bt_to_mint * indicative_fraction).to_i
  indicative_stp_to_mint =  (max_st_prime_to_mint * indicative_fraction).to_i

  ost_to_bt_input_name = "ost_to_bt"
  bt_to_mint_input_name = "bt_to_mint"

%>
<div class="row">
  <div class="col-12" id="token_supply_widget_wrap" style="display: none">
    <form id="token_supply_mint_form" action="/api/economy/token/stake-and-mint"  method="POST" 
      class="form-container user-form" data-ost-formhelper>
        <div class="card card-planner mb-5">
          <div class="card-header">
            <div class="d-flex align-items-center">
              <div class="mr-auto">
                <h3 class="card-title mb-1">Mint Tokens</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="user-form">
              <%= render :partial => "web/economy/token_supply/mint_bt_widget",
                         :locals => {
                                 :ost_to_bt_input_name => ost_to_bt_input_name,
                                 :bt_to_mint_input_name => bt_to_mint_input_name,
                                 :stake_and_mint_form_id => "token_supply_mint_form",
                                 :bt_to_mint => indicative_bt_to_mint,
                                 :min_bt_to_mint => min_bt_to_mint,
                                 :max_bt_to_mint => max_bt_to_mint,
                                 :min_st_prime_to_mint => min_st_prime_to_mint,
                                 :max_st_prime_to_mint => max_st_prime_to_mint
                         }
              %>
            </div>
          </div>
        </div>  
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-gold">Mint Tokens</button>
          </div>
        </div>
    </form>
  </div>
  <div class="col-12" id="token_supply_widget_overlay">
    <div class="alert alert-info text-center">
      <h3 class="mt-4 mb-4">Mint  Tokens</h3>
      <div class="simulator-image-wrapper m-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" viewBox="0 0 186 88">
          <g fill="none" fill-rule="evenodd">
            <ellipse cx="36.186" cy="35.538" fill="#EFC34A" rx="36.186" ry="35.538" transform="translate(0 9.059)"/>
            <g stroke="#FFF" stroke-width="1.716">
              <path d="M41.315 53.54h6.718l4.157-18.763c.057-.259-.208-.458-.406-.305l-9.032 6.942-5.926-14.017a.335.335 0 0 0-.63 0l-5.927 14.017-9.032-6.942c-.2-.153-.464.046-.407.305l4.157 18.763h6.536M26.363 58.813h20.639"/>
              <path stroke-linecap="round" stroke-linejoin="round" d="M36.51 38.728v20.085"/>
            </g>
            <ellipse cx="36.186" cy="35.538" fill="#387592" rx="36.186" ry="35.538" transform="translate(113.222 9.059)"/>
            <path stroke="#FFF" stroke-linejoin="round" stroke-width="2.064" d="M151.907 41.91c2.848-2.829 5.253-5.675 8.424-5.675 4.468 0 8.09 3.597 8.09 8.036s-3.622 8.036-8.09 8.036c-3.868 0-7.113-4.1-10.4-7.94-3.43-4.012-6.43-8.132-10.347-8.132-4.52 0-8.143 3.597-8.143 8.036s3.624 8.036 8.093 8.036c3.114 0 6.116-3 8.713-5.58"/>
            <g>
              <ellipse cx="44.586" cy="43.938" fill="#27B9D2" rx="44.586" ry="43.938" transform="translate(48.152)"/>
              <g stroke="#FFF" stroke-linejoin="round" stroke-width="2.6">
                <path stroke-linecap="round" d="M74.18 22h24.142c7.046 0 12.758 4.125 12.758 11.835 0 7.39-5.712 11.836-12.758 11.836H74.59"/>
                <path d="M80.923 22v44.381M92.868 22v44.381"/>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <p class="description-wrapper mb-4">
        Mint more tokens and power your economy as you need.
      </p>
      <div class="run-transaction-btn-wrapper mb-4">
        <button id="show_token_supply_widget_btn" class="btn btn-gold run-first-transaction-btn">Mint Tokens</button>
      </div>
    </div>
  </div>
</div>

<% content_for :end_js do %> 
<script type="text/javascript">
  $(function () {
    ost.tokenSupply.init({
      idMintWidgetOverlay: "token_supply_widget_overlay"
      , idMintWidgetWrap: "token_supply_widget_wrap"
      , idShowWidgetBtn: "show_token_supply_widget_btn"
    });
  });
</script>
<% end %>