<div class="col-12" id="token_supply_widget_overlay">
  <div class="card text-center p-5">
    <h3 class="mb-0">Mint  Tokens | Reserve <%= ost_currency_symbol %> for Gas</h3>
    <div class="simulator-image-wrapper my-4">
      <svg style="width: 150px">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mint-tokens"></use>
        </switch>
      </svg>
    </div>
    <span >Mint more tokens and power your economy as you need. </span>
    <div class="run-transaction-btn-wrapper">
      <button id="show_token_supply_widget_btn" class="btn btn-gold run-first-transaction-btn">MINT TOKENS</button>
    </div>
  </div>
</div>