<%

  fiat_type   = @presenter_obj.client_fiat_curreny_symbol;
  client_token_to_fiat_conversion_rate = @presenter_obj.client_balances.ost_to_fiat_conversion_factor(fiat_type) * @presenter_obj.client_token.conversion_rate

  if @presenter_obj.client_balances.present?
    ost_balance = @presenter_obj.client_balances.ost_balance
  else
    ost_balance = 0
  end

  if @presenter_obj.client_token.pending_critical_interaction_id.present?
    pending_critical_interaction_id = @presenter_obj.client_token.pending_critical_interaction_id
  end

%>
<div class="row">
  <div class="col-12">
    <h3 class="mb-3">Mint Tokens</h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-4 st-form">
        <div class="form-group">
          <label class="form-label" for="tokens">TOKENS TO MINT</label>
          <input type="text" class="form-control" id="tokens" name="tokens"/>
        </div>
        <div class="card card-bg">
          <div class="card-body text-uppercase">
            <h5 class="card-title mb-1">TOKEN VALUE IN USD</h5>
            <p class="card-text mb-1">
              <span class="blue">750,000</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 st-form">
        <h6>OST SUPPLY</h6>
      </div>
      <div class="col-12 col-sm-4">
        <h6 class="invisible">OST SUPPLY</h6>
        <ul>
          <li class="d-flex align-items-center mb-3">
            <span class="ost-supply available"></span>
            <p class="m-0 ml-2">
              <small class="d-block">OST Available</small>
              <small class="d-block">350</small>
            </p>
          </li>
          <li class="d-flex align-items-center mb-3">
            <span class="ost-supply allocated"></span>
            <p class="m-0 ml-2">
              <small class="d-block">Allocated For Transaction Fee</small>
              <small class="d-block">30</small>
            </p>
          </li>
          <li class="d-flex align-items-center mb-3">
            <span class="ost-supply staked-minting"></span>
            <p class="m-0 ml-2">
              <small class="d-block">OST to be staked for minting tokens</small>
              <small class="d-block">310</small>
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-gold-border">Cancel</button>
        <button type="submit" class="btn btn-gold">Mint Tokens</button>
      </div>
    </div>
  </div>
</div>