<div class="row">
  <div class="col-12">
    <h3 class="d-inline-block mb-0">Token Supply</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-4 col-lg">
    <div class="card">
      <div class="card-body text-uppercase text-center">
        <h5 class="card-title mb-1">FRC MINTED</h5>
        <p class="card-text mb-1">FRC 10,000</p>
        <p class="card-text">USD 500</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-lg">
    <div class="card">
      <div class="card-body text-uppercase text-center">
        <h5 class="card-title mb-1">FRC MINTED</h5>
        <p class="card-text mb-1">FRC 10,000</p>
        <p class="card-text">USD 500</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-4 col-lg">
    <div class="card">
      <div class="card-body text-uppercase text-center">
        <h5 class="card-title mb-1">FRC MINTED</h5>
        <p class="card-text mb-1">FRC 10,000</p>
        <p class="card-text">USD 500</p>
      </div>
    </div>
  </div>
</div>