<div class="row _transactions_value">
  <div class="col-12">
    <h3 class="mt-5 mb-3">Economic Indicators</h3>
    <div class="d-flex graph-header">
      <div class="mr-auto p-2">No. of Transactions vs. <%= ost_currency_symbol %> Volume</div>
      <div class="p-2 interval" data-interval="hour">1H</div>
      <div class="p-2 interval" data-interval="day">1D</div>
      <div class="p-2 interval" data-interval="week">1W</div>
      <div class="p-2 interval" data-interval="month">1M</div>
      <div class="p-2 interval" data-interval="year">1Y</div>
    </div>
    <div id="transactionsValue" class="graph-container"></div>
  </div>
</div>