<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#verify-modal">-->
  <!--verify account modal-->
<!--</button>-->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#install-metamask-lightbox">-->
  <!--install metamask modal-->
<!--</button>-->

<!--<div class="container">-->
  <div class="row h-100">
    <div class="col-12 my-auto">
      <h1>Complete the installation to continue</h1>
      <p>Follow the instruction to set up your MetaMask Wallet and click the button below once you have installed it.</p>
      <div class="ost-circle rounded-circle">FRC</div>
      <div class="mb-5">
        <button type="button" class="btn btn-gold" data-toggle="modal" data-target="#install-metamask-lightbox">i have installed metamask</button>
      </div>
      <div>
        <button type="button" class="btn btn-gold-border" data-toggle="modal" data-target="#install-metamask-lightbox">watch help video</button>
      </div>
    </div>
  </div>
<!--</div>-->

<%= render :partial => "/shared/web/modals/install_metamask_lightbox" %>
<%= render :partial => "/shared/web/modals/verify_account" %>

<% content_for :end_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
<% end %>