<div id="lipsum">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis lorem sed nibh ultricies venenatis. Nunc nisl nibh, tristique laoreet facilisis non, mattis sed orci. Cras metus neque, maximus nec ipsum vitae, lobortis ullamcorper eros. Integer malesuada ligula ac viverra lacinia. Ut mollis pretium volutpat. Quisque et lacinia leo. Donec viverra condimentum consequat. Ut tristique, lectus eget ornare efficitur, libero elit elementum lacus, sed sollicitudin nunc neque eget elit. Phasellus vitae turpis at justo bibendum mollis. Nulla facilisi. In elit diam, aliquam eget est ut, lobortis semper nibh. Ut pharetra lorem eget felis malesuada ultrices.
  </p>
  <p>
    Aenean pulvinar odio in faucibus vestibulum. Suspendisse at faucibus metus, porta ultricies tellus. Morbi vitae lorem at sem pharetra porttitor sit amet id libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras ornare erat elit, sit amet semper diam malesuada non. Aenean ante dolor, pellentesque vel tellus commodo, pretium dapibus est. Mauris elementum leo sit amet ante laoreet, ac accumsan velit elementum. Vivamus quis facilisis risus, id pellentesque ipsum. Morbi ac risus condimentum nunc varius semper ac eu mauris. Sed commodo nisl sed convallis tempor. Nullam aliquet ipsum vitae convallis rhoncus. Aenean pharetra lorem at nulla interdum, tincidunt ullamcorper sapien suscipit.
  </p>
  <p>
    Ut a metus eu justo cursus vehicula tempor quis erat. Phasellus finibus dolor efficitur aliquet finibus. Mauris ut eros nisi. Donec sit amet ante eu tortor dapibus finibus. Donec venenatis sollicitudin tortor ac eleifend. Donec accumsan neque ac sapien sollicitudin, feugiat semper sem tempus. Fusce cursus sit amet ipsum et consectetur. Aliquam erat volutpat. In viverra magna eleifend lectus pharetra posuere. Mauris commodo ipsum urna, eget egestas nunc posuere in.
  </p>
  <p>
    Aliquam tellus lectus, tempus et ex nec, tristique tincidunt est. Cras aliquet malesuada viverra. In laoreet velit eu ante blandit, sed commodo eros pharetra. In libero justo, aliquam non ullamcorper eu, placerat quis leo. Integer consectetur augue ante, sit amet vulputate neque scelerisque vel. In at iaculis metus, scelerisque imperdiet urna. Sed diam ipsum, facilisis ut bibendum lobortis, aliquet id sem. Ut sit amet leo a diam cursus pellentesque. Mauris tortor massa, tincidunt vitae tincidunt in, tempus a lorem. Nulla convallis, lectus nec ultrices hendrerit, orci turpis luctus velit, id blandit eros metus nec sem. Pellentesque nulla odio, consectetur at augue vitae, commodo commodo augue. Proin tempus hendrerit ipsum, sed semper nibh semper quis. Nunc in dui fringilla, ornare dolor non, tristique sem.
  </p>
  <p>
    Etiam dapibus ante vitae metus aliquam, eu maximus purus sodales. Integer aliquet, est vel laoreet accumsan, diam dolor congue justo, ut feugiat tortor elit sed nunc. Nulla vel quam at ligula commodo accumsan et et lectus. Nunc quis viverra velit, at malesuada nisl. Nam consequat dolor eu scelerisque accumsan. Aenean a hendrerit nisi. Aenean porta, nulla nec laoreet rhoncus, ligula dolor venenatis metus, sed efficitur felis elit id sem. Sed convallis eu est in tempor. Duis interdum lacus id ligula eleifend consequat. Donec mollis orci neque, at porttitor metus consectetur eu. Donec hendrerit leo eu aliquet elementum. Aliquam facilisis, ipsum a aliquam fringilla, lectus felis elementum leo, malesuada tincidunt velit quam nec purus. Etiam et leo id libero lacinia mattis et eu dolor. Suspendisse eget justo non enim bibendum ornare.
  </p>
  <p>
    Donec at imperdiet sem. Donec ac dolor tortor. Pellentesque at felis ut metus mattis euismod. Nam cursus, ante nec vestibulum rhoncus, nisl magna commodo purus, id vulputate est nunc a sem. Donec pharetra blandit tellus vel aliquet. Phasellus ut suscipit arcu, sit amet rhoncus ex. Proin at vulputate metus. Nunc a tincidunt nisi. Maecenas ornare in eros sed ullamcorper. Integer ac ultricies felis.
  </p>
  <p>
    Nam laoreet libero mauris, vitae pharetra odio vehicula sit amet. Nam ut pharetra nisl. In ut erat cursus, euismod nibh ut, elementum erat. Fusce cursus sed sem id pharetra. Morbi pretium mi at arcu sodales volutpat. Nam pulvinar, elit a lacinia eleifend, mi arcu faucibus odio, id tincidunt eros est nec sapien. Nunc vehicula eu orci aliquam suscipit. Nam et ipsum purus. Morbi fringilla libero nec magna iaculis, sed pellentesque orci blandit. Donec tincidunt blandit consectetur. Nullam rhoncus ex ac erat accumsan, at pellentesque elit maximus. Aenean in lectus luctus, sodales enim sed, vestibulum erat. Quisque blandit commodo posuere. Mauris iaculis mi ut malesuada feugiat.
  </p>
  <p>
    Ut condimentum congue elementum. Donec nibh lorem, dictum ac porttitor nec, varius a diam. Maecenas eu lacus eu odio elementum laoreet et sed nisi. Mauris consectetur sed est sed condimentum. Aenean elementum eu odio scelerisque sollicitudin. Curabitur vehicula nisl massa, eu convallis sapien maximus vitae. Ut id nulla eu ipsum sollicitudin laoreet nec at ligula. Quisque leo lectus, dignissim aliquet enim eu, faucibus ultrices purus. Fusce quis euismod libero. Aenean pharetra cursus dolor, eu sollicitudin lectus malesuada vel. Fusce laoreet tortor vitae mollis sodales. Aliquam erat volutpat. Donec aliquet urna sed nibh accumsan efficitur. Curabitur nisi risus, tempus non sapien a, luctus mollis magna. Proin et urna dui.
  </p>
  <p>
    Curabitur finibus congue nulla, vehicula convallis elit maximus ut. Donec porta tincidunt ligula a iaculis. Aliquam sodales, leo at commodo dictum, tellus augue convallis elit, sit amet suscipit massa velit vel augue. Sed tempor quam a turpis pellentesque, ac ornare sem dictum. Donec ac feugiat odio. Nullam vel mi elementum, convallis nunc ac, blandit enim. Nulla ut imperdiet nisl, sit amet accumsan erat. Nunc massa nisl, porta vitae leo eget, viverra imperdiet mi. Maecenas vehicula nunc a elit porta ullamcorper. Morbi scelerisque libero a libero convallis, quis efficitur tortor placerat. Duis ac feugiat nunc. Vivamus eu diam tempus, vehicula sem eu, consequat enim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut elementum elit non diam posuere, in sagittis lorem finibus. Suspendisse dapibus consequat velit, vitae fringilla orci vehicula sed. Sed a fermentum quam.
  </p>
  <p>
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer in libero ac lorem accumsan euismod a ac neque. Suspendisse risus ante, tincidunt in lacinia elementum, aliquet id justo. Aliquam sed sollicitudin magna, eu laoreet dui. Nunc a scelerisque ante. Nulla lobortis leo lacus, non semper odio fringilla sit amet. Nunc sed enim et orci posuere dictum. Donec ut tristique arcu. Donec eu diam finibus, rhoncus ex vitae, faucibus dui. Curabitur faucibus finibus risus, id eleifend magna accumsan mollis. Maecenas vel mauris convallis, varius tortor gravida, scelerisque neque. Mauris vel egestas quam. Praesent at maximus enim.
  </p></div>

<% content_for :end_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
<% end %>