<%= render :partial => "/shared/web/common/other-icons.svg" %>
<div class="container-fluid py-6 cloud-bg h-100">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <form id="login_form" class="user-form"
                action="/api/client/login" method="POST"
                data-ost-formhelper data-redirect="/planner"
          >
            <h3 class="text-left mb-2">Login to <svg class="signup-ost-kit-logo">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ost-kit-logo"></use>
              </switch>
            </svg> Alpha!</h3>
            <div class="general_error invalid-feedback">&nbsp;</div>
            <div class="form-group mb-2">
              <label class="form-label" for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email"
                     aria-describedby="emailHelp" placeholder="Email Address" name="email" required />
              <div class="invalid-feedback" data-forid="email">&nbps;</div>
            </div>
            <div class="form-group mb-2">
              <label class="form-label float-left" for="exampleInputPassword1">Password</label>
              <span class="form-label float-right text-capitalize font-weight-light"><a class="form-text mt-0" href="/reset-password">Forgot password?</a></span>
              <div class="input-group">
                <input type="password" class="form-control form-control-input-group" placeholder="Password"
                       id="password" name="password" required pattern=".{8,}"/>
                <div class="input-group-append">
                  <span class="input-group-text input-group-inline input-group-eye">
                    <svg class="icon">
                      <switch>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"></use>
                      </switch>
                    </svg>
                  </span>
                </div>
                <div class="invalid-feedback" data-forid="password">&nbps;</div>
              </div>
              <div class="invalid-feedback" data-forid="password">&nbps;</div>
            </div>

            <div class="form-group text-center">
              <button type="submit" class="btn btn-gold" data-submiting="Logging">Login</button>
              <small class="form-text text-muted" style="line-height: 40px">Don't have an account yet?</small>
              <a href="/sign-up" class="btn btn-gold-border" title="Register">Register</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

