<form id="login_form" class="form-container-sm st-form" 
  action="/api/client/login" method="POST"
  data-ost-formhelper data-redirect="/dashboard"
>
  <h1 class="form-title">Login to the Demo</h1>
  <div class="general_error invalid-feedback">&nbsp;</div>
  <div class="form-group">
    <label class="form-label" for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" 
    aria-describedby="emailHelp" placeholder="Email Address" name="email" required />
  </div>
  <div class="form-group">
    <label class="form-label" for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required pattern=".{8,}" />
    <small class="form-text">Forgot password?</small>
  </div>

  <div class="form-group text-center">
    <button type="submit" class="btn btn-gold" data-submiting="Logging">Login</button>
    <small class="form-text text-muted" style="line-height: 40px">Don't have an account yet?</small>
    <button type="submit" class="btn btn-white">Register</button>
  </div>
  
</form>

