<form id="rest_password_form" class="form-container-sm user-form"
  action="/api/client/login" method="POST"
  data-ost-formhelper data-redirect="/planner"
>
  <h1 class="form-title">Reset Password</h1>
  <small class="form-text text-muted text-center">Enter your email address to receive the link to reset your password</small>
  <div class="form-group">
    <label class="form-label" for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" 
    aria-describedby="emailHelp" placeholder="Email Address" name="email" required />
  </div>

  <div class="form-group text-center">
    <button type="submit" class="btn btn-gold mb-3" data-submiting="Logging">Recover</button>
    <br/>
    <button type="submit" class="btn btn-white">Return To Login</button>
  </div>
  
</form>

<div id="resetEmailSent" class="text-center">
  <h3>Check Your Inbox</h3>
  <p class="text-muted">We have sent an email to please click on the ResetPassword Button in the email to Activate your account</p>
  <small class="form-text text-muted">Did not receive the email yet?</small>
  <a href="javascript:void(0)" class="btn btn-gold-border mt-3" title="Re-send Email">re-send email</a>
  <div class="success" id="successMessage"></div>
  <div class="general_error invalid-feedback">&nbsp;</div>
</div>