<form id="sign_up_form" class="form-container-sm st-form" 
  action="/api/client/sign-up" method="POST"
  data-ost-formhelper data-redirect="/planner"
>

  <h1 class="form-title">Register for the Demo</h1>
  <div class="general_error invalid-feedback" data-forid="sign_up_form">&nbsp;</div>

  <div class="row">
    <div class="col">
      <div class="form-group" id="tokenNameFormGrp">
        <label class="form-label" data-forid="token_name">Token Name</label>

        <input id="user-token-name" type="token_name" name="token_name" class="form-control" aria-describedby="emailHelp" placeholder="Enter token name" required/>
        <div class="invalid-feedback" data-forid="token_name">&nbps;</div>
      </div>
    </div>
    <div class="col">
      <div class="form-group" id="emailFormGrp">
        <label class="form-label" data-forid="email">Token Symbol</label>

        <input id="user-token-symbol" type="token_symbol" name="token_symbol" class="form-control" aria-describedby="emailHelp" placeholder="Enter token symbol" required/>
        <div class="invalid-feedback" data-forid="token_symbol">&nbps;</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <label class="form-label d-block text-left" data-forid="email">Select icon for your token</label>
    <label class="btn btn-primary btn-circle btn-lg m-0 position-relative mb-4">
      <input type="radio" name="q1" value="0">
      <span class="btn-circle btn-primary layer">FRC</span>
    </label>
    <label class="btn btn-primary btn-circle btn-lg m-0 position-relative ml-2 mb-4">
      <input type="radio" name="q1" value="0">
      <span class="btn-circle btn-primary layer">FRC</span>
    </label>
    <label class="btn btn-primary btn-circle btn-lg m-0 position-relative ml-2 mb-4">
      <input type="radio" name="q1" value="0">
      <span class="btn-circle btn-primary layer">FRC</span>
    </label>
    <label class="btn btn-primary btn-circle btn-lg m-0 position-relative ml-2 mb-4">
      <input type="radio" name="q1" value="0">
      <span class="btn-circle btn-primary layer">FRC</span>
    </label>
    <label class="btn btn-primary btn-circle btn-lg m-0 position-relative ml-2 mb-4">
      <input type="radio" name="q1" value="0">
      <span class="btn-circle btn-primary layer">FRC</span>
    </label>
    <label class="btn btn-primary btn-circle btn-lg m-0 position-relative ml-2 mb-4">
      <input type="radio" name="q1" value="0">
      <span class="btn-circle btn-primary layer">FRC</span>
    </label>
  </div>

  <div class="form-group" id="emailFormGrp">
    <label class="form-label" data-forid="email">Email address</label>

    <input id="user-email" type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required/>
    <div class="invalid-feedback" data-forid="email">&nbps;</div>
  </div>

  <div class="form-group" id="passwordFormGrp">
    <label class="form-label" for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password"
      id="password" name="password" required />
    <!-- View Password -->
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
    </span>
    <!-- ZXCVBN Wrap -->
    <div class="zxcvbn-group"></div>
    <div class="invalid-feedback" data-forid="password">&nbps;</div>
  </div>

  <div class="form-group has-error" id="tosFormGrp">
    <div class="form-check">
      <input type="checkbox" class="form-check-input"
      name="agreed_terms_of_service"  id="agreed_terms_of_service" required />
      <label class="form-check-label" for="tos">By checking this box, you agree to our Terms of Service &amp; acknowledge and consent to our Privacy Policy.</label>
      <div class="invalid-feedback" data-forid="agreed_terms_of_service">&nbps;</div>
    </div>
    
  </div>

  <div class="form-group text-center" >
    <button type="submit" class="btn btn-gold" data-submiting="Registering">Register</button>
    <small class="form-text text-muted" style="line-height: 40px">Have an account already?</small>
    <button type="submit" class="btn btn-white">Login</button>
  </div>
</form>


