<%= render :partial => "/shared/web/common/other-icons.svg" %>
<form id="sign_up_form" class="form-container-sm user-form"
  action="/api/client/sign-up" method="POST"
  data-ost-formhelper data-redirect="/planner"
>

  <h1 class="form-title">Register for the Demo</h1>
  <div class="general_error invalid-feedback" data-forid="sign_up_form">&nbsp;</div>

  <div class="row">
    <div class="col">
      <div class="form-group m-0" id="tokenNameFormGrp">
        <label class="form-label" data-forid="token_name">Token Name</label>

        <input id="user-token-name" type="text" name="token_name" class="form-control" aria-describedby="emailHelp" placeholder="Enter token name" required/>
        <div class="invalid-feedback" data-forid="token_name">&nbps;</div>
      </div>
    </div>
    <div class="col">
      <div class="form-group m-0" id="emailFormGrp">
        <label class="form-label" data-forid="email">Token Symbol</label>

        <input id="user-token-symbol" type="text" name="token_symbol" class="form-control" aria-describedby="emailHelp" placeholder="Enter token symbol" required/>
        <div class="invalid-feedback" data-forid="token_symbol">&nbps;</div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <label class="form-label d-block text-left" data-forid="email">Select icon for your token</label>
    <ul class="radio-group list-unstyled">
      <li>
        <input type="radio" id="option-one" name="selector" value="token_icon_1">
        <label for="option-one" class="mb-0">
          <span class="token_icon_1">TGC</span>
        </label>
      </li>
      <li>
        <input type="radio" id="option-two" name="selector" value="token_icon_2">
        <label for="option-two" class="mb-0">
          <span class="token_icon_2">SGC</span>
        </label>
      </li>
      <li>
        <input type="radio" id="option-three" name="selector" value="token_icon_3">
        <label for="option-three" class="mb-0">
          <span class="token_icon_3">FRC</span>
        </label>
      </li>
      <li>
        <input type="radio" id="option-four" name="selector" value="token_icon_4">
        <label for="option-four" class="mb-0">
          <span class="token_icon_4">RKC</span>
        </label>
      </li>
      <li>
        <input type="radio" id="option-five" name="selector" value="token_icon_5">
        <label for="option-five" class="mb-0">
          <span class="token_icon_5">ARC</span>
        </label>
      </li>
      <li>
        <input type="radio" id="option-six" name="selector" value="token_icon_6">
        <label for="option-six" class="mb-0">
          <span class="token_icon_6">PBC</span>
        </label>
      </li>
    </ul>
  </div>

  <div class="form-group" id="emailFormGrp">
    <label class="form-label" data-forid="email">Email address</label>

    <input id="user-email" type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" required/>
    <div class="invalid-feedback" data-forid="email">&nbps;</div>
  </div>

  <div class="form-group">
    <div class="clearfix">
      <label class="form-label float-left" for="password">Password</label>
      <span class="form-label float-right">Minimum 8 characters</span>
    </div>
    <div class="input-group mb-3">
      <input type="password" class="form-control form-control-input-group" placeholder="Password"
             id="password" name="password" required pattern=".{8,}"/>
      <div class="input-group-append">
        <span class="input-group-text input-group-inline input-group-eye">
          <svg class="icon">
            <switch>
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-eye"></use>
            </switch>
          </svg>
        </span>
      </div>
    </div>
    <!-- ZXCVBN Wrap -->
    <div class="zxcvbn-group"></div>
    <div class="invalid-feedback" data-forid="password">&nbps;</div>
  </div>

  <div class="form-group has-error" id="tosFormGrp">
    <div class="form-check">
      <input type="checkbox" class="form-check-input"
      name="agreed_terms_of_service"  id="agreed_terms_of_service" required />
      <label class="form-check-label" for="tos">By checking this box, you agree to our Terms of Service &amp; acknowledge and consent to our Privacy Policy.</label>
      <div class="invalid-feedback" data-forid="agreed_terms_of_service">&nbps;</div>
    </div>
    
  </div>

  <div class="form-group text-center" >
    <button type="submit" class="btn btn-gold" data-submiting="Registering">Register</button>
    <small class="form-text text-muted" style="line-height: 40px">Have an account already?</small>
    <a href="/login" class="btn btn-white" title="Login">Login</a>
  </div>
</form>


