<%
  should_show_api_call_button = true;

  coin_name   = @presenter_obj.client_token.name;
  coin_symbol = @presenter_obj.client_token.symbol;

%>

<div class="row ost__planner mb-4">
  <div class="w-100">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-center d-inline-block mb-0">Simulator</h3>
      <button type="button" class="btn btn-gold run-transaction-btn">run a transaction</button>
    </div>
  </div>
</div>


<div class="row ost__planner slider-parent-container" data-slider-content-wrapper=".card" >
  <div class="col-12" data-simple-table data-url="/api/economy/transaction/history">
    <script type="text/x-handlebars-template" data-row-template >
      <div class="card row mb-4 ">
        <div class="card-header col-12">
          <div class="d-flex align-items-center justify-content-between">
            <div class="w-100">
              <span class="rounded-circle align-middle"></span>
              <span class="align-middle">{{fromUserName from_user_id}} Sent <%= coin_name %> <%= coin_symbol %> to </span>
              <span class="rounded-circle align-middle"></span>
              <span class="align-middle">{{toUserName to_user_id}} </span>
            </div>
            <button class="btn btn-white slider-btn">api call</button>
          </div>
        </div>
        <div class="card-body col-12">
          <dl class="row mb-0">
            <dt class="col-sm-3">Tx Hash</dt>
            <dd class="col-sm-9">{{transaction_hash}}</dd>

            <dt class="col-sm-3">Block Height</dt>
            <dd class="col-sm-9">  </dd>

            <dt class="col-sm-3">Time Stamp</dt>
            <dd class="col-sm-9">{{timeStamp}}</dd>

            <dt class="col-sm-3">Transaction Fee</dt>
            <dd class="col-sm-9">{{transactionFee}} OST</dd>
          </dl>
          <div class="content-info row">
            <comment class="w-100 comment-section">
              Some code has to come here.
            </comment>
            <br>
            <code class="w-100 code-section">
              Some curl code has to come here
              Some curl code has to come here
            </code>
          </div>
        </div>
      </div>
    </script>
  </div>
</div>


<% content_for :end_js do %>
  <script type="text/javascript">
    ost.simulator.init();
  </script>
<% end %>