<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info">
            <h3 class="mt-4 mb-4"> Simulator </h3>
            <div class="simulator-image-wrapper m-4">
              <svg style="width: 180px">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-simulator-image"></use>
                </switch>
              </svg>

            </div>
            <p class="description-wrapper mb-4">
              Data will start populating here once you start running some transactions. Click the button below to start.
            </p>
            <div class="run-transaction-btn-wrapper mb-4">
              <button class="btn btn-gold run-first-transaction-btn"> RUN A TRANSACTION </button>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="container text-left">
  <%=
      render :partial => "shared/web/common/faqs",
             locals: {
             header: "FAQ",
        faqs: [
        {
          title: 'How does the Simulator work?',
      url: 'https://help.ost.com/support/solutions/articles/35000059267-how-does-the-simulator-work-'
      },
      {
        title: 'How can I run a specific transaction between two users?',
      url: 'https://help.ost.com/support/solutions/articles/35000059268-how-can-i-run-a-specific-transaction-between-two-users-'
      },
      {
        title: 'Are there Developer APIs available?',
      url: 'https://help.ost.com/support/solutions/articles/35000059270-are-there-developer-apis-available-'
      }
      ]
      }
  %>
</div>