<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info">
            <h3 class="mt-4 mb-4"> Simulator </h3>
            <div class="simulator-image-wrapper m-4">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="154" viewBox="0 0 224 154">
                <defs>
                  <path id="a" d="M0 96.083c0-7.265 5.969-13.177 13.305-13.177 7.337 0 13.306 5.912 13.306 13.177 0 7.266-5.97 13.178-13.306 13.178C5.97 109.26 0 103.349 0 96.083z"/>
                  <path id="b" d="M138.486 14.98c0-8.26 6.79-14.98 15.135-14.98 8.346 0 15.136 6.72 15.136 14.98 0 8.26-6.79 14.98-15.136 14.98-8.345 0-15.135-6.72-15.135-14.98z"/>
                  <path id="c" d="M184.285 83.446c0-7.266 5.969-13.178 13.305-13.178 7.336 0 13.305 5.912 13.305 13.178 0 7.266-5.969 13.177-13.305 13.177-7.336 0-13.305-5.911-13.305-13.177z"/>
                  <path id="d" d="M197.39 45.84c0-7.266 5.968-13.178 13.305-13.178 7.336 0 13.305 5.912 13.305 13.177 0 7.266-5.969 13.178-13.305 13.178-7.337 0-13.306-5.912-13.306-13.178z"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <path stroke="#BFE6E8" stroke-dasharray="1.287000025987624,14.15700092959401" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.435" d="M153.195 36.281V-8M153.195 115.996V71.714"/>
                  <path stroke="#BFE6E8" stroke-linecap="round" stroke-linejoin="round" stroke-width="8.196" d="M10.644 141.785l145.33-83.93 41.003 70.427"/>
                  <path stroke="#BFE6E8" stroke-linecap="round" stroke-linejoin="round" stroke-width="7.025" d="M32.46 114.348l91.95-53.103"/>
                  <path stroke="#BFE6E8" stroke-width="5.855" d="M182.014 108.808l22.807-13.816"/>
                  <g transform="translate(0 44.644)">
                    <use fill="#F1F5F8" xlink:href="#a"/>
                    <path stroke="#49BFE1" stroke-width="5.855" d="M2.927 96.083c0 5.643 4.652 10.25 10.378 10.25s10.378-4.607 10.378-10.25c0-5.642-4.652-10.25-10.378-10.25S2.927 90.441 2.927 96.083z"/>
                  </g>
                  <g transform="translate(0 44.644)">
                    <use fill="#FF7676" xlink:href="#b"/>
                    <path stroke="#FF7676" stroke-width="6.66" d="M141.816 14.98c0 6.413 5.292 11.65 11.805 11.65 6.514 0 11.806-5.236 11.806-11.65 0-6.413-5.292-11.65-11.806-11.65-6.513 0-11.805 5.237-11.805 11.65z"/>
                  </g>
                  <path fill="#F1F5F8" d="M146.054 59.624c0-4.13 3.395-7.49 7.568-7.49 4.172 0 7.567 3.36 7.567 7.49 0 4.13-3.395 7.49-7.567 7.49-4.173 0-7.568-3.36-7.568-7.49z"/>
                  <g transform="translate(0 44.644)">
                    <use fill="#F1F5F8" xlink:href="#c"/>
                    <path stroke="#E4B030" stroke-width="5.855" d="M187.212 83.446c0 5.642 4.652 10.25 10.378 10.25s10.378-4.607 10.378-10.25-4.652-10.25-10.378-10.25-10.378 4.607-10.378 10.25z"/>
                  </g>
                  <g transform="translate(0 44.644)">
                    <use fill="#F1F5F8" xlink:href="#d"/>
                    <path stroke="#A7D646" stroke-width="5.855" d="M200.317 45.84c0 5.642 4.652 10.25 10.378 10.25s10.378-4.608 10.378-10.25c0-5.643-4.653-10.25-10.378-10.25-5.726 0-10.378 4.607-10.378 10.25z"/>
                  </g>
                </g>
              </svg>

            </div>
            <p class="description-wrapper mb-4">
              Data will start populating here once you start running some transactions. Click the button below to start.
            </p>
            <div class="run-transaction-btn-wrapper mb-4">
              <button class="btn btn-gold run-first-transaction-btn"> RUN A TRANSACTION </button>
            </div>
        </div>
      </div>
    </div>
</div>