<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info">
            <h3 class="mt-4 mb-4"> Simulator </h3>
            <div class="simulator-image-wrapper m-4">
              <img class="img-fluid" alt="simulator" src=""/>
            </div>
            <p class="description-wrapper mb-4">
              Data will start populating here once you start running some transactions. Click the button below to start.
            </p>
            <div class="run-transaction-btn-wrapper mb-4">
              <button class="btn btn-gold run-first-transaction-btn"> RUN A TRANSACTION </button>
            </div>
        </div>
      </div>
    </div>
</div>