<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-info">
            <h3 class="mt-4 mb-4"> Simulator </h3>
            <div class="simulator-image-wrapper m-4">
              <svg class="icon-simulator" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="154" viewBox="0 0 311 265">
                <defs>
                  <path d="M0,96.0833479 C0,88.8177686 5.96902182,82.9058274 13.3051218,82.9058274 C20.6415232,82.9058274 26.610545,88.8177686 26.610545,96.0833479 C26.610545,103.349226 20.6415232,109.260868 13.3051218,109.260868 C5.96902182,109.260868 0,103.349226 0,96.0833479 Z" id="path-1"></path>
                  <path d="M138.486486,14.9803408 C138.486486,6.72075553 145.276423,0 153.62145,0 C161.966821,0 168.756757,6.72075553 168.756757,14.9803408 C168.756757,23.2402654 161.966821,29.9606815 153.62145,29.9606815 C145.276423,29.9606815 138.486486,23.2402654 138.486486,14.9803408 Z" id="path-2"></path>
                  <path d="M184.284744,83.4456774 C184.284744,76.1800981 190.253766,70.2681569 197.589866,70.2681569 C204.926267,70.2681569 210.895289,76.1800981 210.895289,83.4456774 C210.895289,90.7115553 204.926267,96.6231979 197.589866,96.6231979 C190.253766,96.6231979 184.284744,90.7115553 184.284744,83.4456774 Z" id="path-3"></path>
                  <path d="M197.389455,45.8394443 C197.389455,38.573865 203.358477,32.6619238 210.694577,32.6619238 C218.030978,32.6619238 224,38.573865 224,45.8394443 C224,53.1053222 218.030978,59.0169648 210.694577,59.0169648 C203.358477,59.0169648 197.389455,53.1053222 197.389455,45.8394443 Z" id="path-4"></path>
                </defs>
                <g id="V9" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Simulator-01-Welcome-Page" transform="translate(-1529.000000, -598.000000)">
                    <g id="Group-6" transform="translate(1533.000000, 602.000000)">
                      <g id="Group-4" transform="translate(34.000000, 48.000000)">
                        <path d="M153.195402,44.2813291 L153.195402,0" id="Path-12" stroke="#BFE6E8" stroke-width="6.43500032" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.287000025987624,14.15700092959401"></path>
                        <path d="M153.195402,123.995615 L153.195402,79.7142857" id="Path-12-Copy" stroke="#BFE6E8" stroke-width="6.43500032" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="1.287000025987624,14.15700092959401"></path>
                        <g id="Group-5" transform="translate(0.000000, 52.428571)">
                          <g id="Group-3" transform="translate(0.000000, 0.214941)">
                            <polyline id="Path-9" stroke="#BFE6E8" stroke-width="8.1963159" stroke-linecap="round" stroke-linejoin="round" points="10.644218 97.1411222 155.974614 13.2113856 196.977039 83.6386518"></polyline>
                            <path d="M32.459127,69.7048324 L124.410627,16.6019344" id="Path-9" stroke="#BFE6E8" stroke-width="7.02541363" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M182.014473,64.1647406 L204.821374,50.3485303" id="Path-11" stroke="#BFE6E8" stroke-width="5.85451136"></path>
                            <g id="Path">
                              <use fill="#F1F5F8" fill-rule="evenodd" xlink:href="#path-1"></use>
                              <path stroke="#49BFE1" stroke-width="5.85451136" d="M2.92725568,96.0833479 C2.92725568,101.726148 7.57936832,106.333613 13.3051218,106.333613 C19.0311401,106.333613 23.6832893,101.726184 23.6832893,96.0833479 C23.6832893,90.4406971 19.0310259,85.833083 13.3051218,85.833083 C7.5794825,85.833083 2.92725568,90.4407329 2.92725568,96.0833479 Z"></path>
                            </g>
                            <g id="Path-Copy">
                              <use fill="#FF7676" fill-rule="evenodd" xlink:href="#path-2"></use>
                              <path stroke="#FF7676" stroke-width="6.65967726" d="M141.816325,14.9803408 C141.816325,21.3934908 147.107773,26.6308429 153.62145,26.6308429 C160.135429,26.6308429 165.426918,21.3935316 165.426918,14.9803408 C165.426918,8.56736042 160.135299,3.32983863 153.62145,3.32983863 C147.107903,3.32983863 141.816325,8.56740118 141.816325,14.9803408 Z"></path>
                            </g>
                            <path d="M146.054054,14.9803408 C146.054054,10.8505481 149.449022,7.49017038 153.621536,7.49017038 C157.794221,7.49017038 161.189189,10.8505481 161.189189,14.9803408 C161.189189,19.1103031 157.794221,22.4705111 153.621536,22.4705111 C149.449022,22.4705111 146.054054,19.1103031 146.054054,14.9803408 Z" id="Path-Copy" fill="#F1F5F8"></path>
                            <g id="Path-Copy-2">
                              <use fill="#F1F5F8" fill-rule="evenodd" xlink:href="#path-3"></use>
                              <path stroke="#E4B030" stroke-width="5.85451136" d="M187.211999,83.4456774 C187.211999,89.0884775 191.864112,93.6959422 197.589866,93.6959422 C203.315884,93.6959422 207.968033,89.0885133 207.968033,83.4456774 C207.968033,77.8030266 203.31577,73.1954126 197.589866,73.1954126 C191.864226,73.1954126 187.211999,77.8030625 187.211999,83.4456774 Z"></path>
                            </g>
                            <g id="Path-Copy-3">
                              <use fill="#F1F5F8" fill-rule="evenodd" xlink:href="#path-4"></use>
                              <path stroke="#A7D646" stroke-width="5.85451136" d="M200.316711,45.8394443 C200.316711,51.4822444 204.968823,56.0897091 210.694577,56.0897091 C216.420595,56.0897091 221.072744,51.4822802 221.072744,45.8394443 C221.072744,40.1967935 216.420481,35.5891795 210.694577,35.5891795 C204.968938,35.5891795 200.316711,40.1968294 200.316711,45.8394443 Z"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                      <path d="M25,0 L278.360784,-3.55271368e-15 C292.167903,-6.08904025e-15 303.360784,11.1928813 303.360784,25 L303.360784,232 C303.360784,245.807119 292.167903,257 278.360784,257 L25,257 C11.1928813,257 -1.8618293e-15,245.807119 -3.55271368e-15,232 L-3.55271368e-15,25 C-5.24359806e-15,11.1928813 11.1928813,-1.01638711e-15 25,-3.55271368e-15 Z" id="Rectangle-3" stroke="#BFE6E8" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0.1,20"></path>
                    </g>
                  </g>
                </g>
              </svg>

            </div>
            <p class="description-wrapper mb-4">
              Data will start populating here once you start running some transactions. Click the button below to start.
            </p>
            <div class="run-transaction-btn-wrapper mb-4">
              <button class="btn btn-gold run-first-transaction-btn"> RUN A TRANSACTION </button>
            </div>
        </div>
      </div>
    </div>
</div>