<div class="row ost__planner">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class="text-center d-inline-block mb-0">Simulator</h3>
      <button type="button" class="btn btn-gold">run a transaction</button>
    </div>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <div class="">
            <span class="ost__planner__circle rounded-circle align-middle"></span>
            <span class="align-middle">Jason Goldberg Sent 5 FRC</span>
          </div>
          <button class="btn btn-white">api call</button>
        </div>
      </div>
      <div class="card-body">
        <dl class="row mb-0">
          <dt class="col-sm-3">Tx Hash</dt>
          <dd class="col-sm-9">0x09384ljhsldfh09d8sfdsf098dsfsd9f8s0d9f8sdfldksjf</dd>

          <dt class="col-sm-3">Block Height</dt>
          <dd class="col-sm-9">983138 ( 1 block confirmation )</dd>

          <dt class="col-sm-3">Time Stamp</dt>
          <dd class="col-sm-9">39 sec ago (Jun-07-2017   01:19:30 PM +UTC)</dd>

          <dt class="col-sm-3">Transaction Fee</dt>
          <dd class="col-sm-9">0.01 OST</dd>
        </dl>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
          <div class="">
            <span class="ost__planner__circle rounded-circle align-middle"></span>
            <span class="align-middle">Jason Goldberg Sent 5 FRC</span>
          </div>
          <button class="btn btn-white">api call</button>
        </div>
      </div>
      <div class="card-body mb-3">
        <dl class="row mb-0">
          <dt class="col-sm-3">Tx Hash</dt>
          <dd class="col-sm-9">0x09384ljhsldfh09d8sfdsf098dsfsd9f8s0d9f8sdfldksjf</dd>

          <dt class="col-sm-3">Block Height</dt>
          <dd class="col-sm-9">983138 ( 1 block confirmation )</dd>

          <dt class="col-sm-3">Time Stamp</dt>
          <dd class="col-sm-9">39 sec ago (Jun-07-2017   01:19:30 PM +UTC)</dd>

          <dt class="col-sm-3">Transaction Fee</dt>
          <dd class="col-sm-9">0.01 OST</dd>
        </dl>
      </div>
    </div>
  </div>
</div>