<section class="container-fluid footer-nav-wrap position-relative" style="overflow: hidden">
  <div class="row">
    <div class="ost-backward-triangle"></div>
    <div class="ost-triangleSpace"></div>
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Products</h6>
          <ul class="footer-nav list-unstyled font-weight-normal">
            <li><a href="javascript:void(0)">OST KIT</a></li>
            <li><a href="javascript:void(0)">OST VIEW</a></li>
            <li><a href="javascript:void(0)">OST KYC</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Developers</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="javascript:void(0)">API Reference</a></li>
            <li><a href="javascript:void(0)">White Paper</a></li>
            <li><a href="javascript:void(0)">GitHub</a></li>
            <li><a href="javascript:void(0)">Developer Chat</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Company</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="javascript:void(0)">Team</a></li>
            <li><a href="javascript:void(0)">Partners</a></li>
            <li><a href="javascript:void(0)">Blog</a></li>
            <li><a href="javascript:void(0)">News</a></li>
            <li><a href="javascript:void(0)">Careers</a></li>
            <li><a href="javascript:void(0)">Support</a></li>
            <li><a href="javascript:void(0)">Documents</a></li>
            <li><a href="javascript:void(0)">Token Sale</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <h6 class="text-uppercase">Legal</h6>
          <ul class="footer-nav list-unstyled">
            <li><a href="javascript:void(0)">Privacy Policy</a></li>
            <li><a href="javascript:void(0)">Terms of Use</a></li>
            <li><a href="javascript:void(0)">OST Token Terms</a></li>
            <li><a href="javascript:void(0)">OpenST Foundation</a></li>
          </ul>
        </div>
        <div class="col-12 col-md mb-3 mb-sm-0">
          <div class="social-links">
            <h6 class="text-uppercase">Join The Community</h6>
            <ul class="footer-nav list-unstyled" style="font-size: 0">
              <li>
                <a href="https://twitter.com/OSTdotcom" target="_blank" title="OST - Twitter">
                  <span class="footer-social-twitter-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/18209852" target="_blank" title="OST - Linkedin">
                  <span class="footer-social-linkedIn-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/OSTdotcom" target="_blank" title="OST - Facebook">
                  <span class="footer-social-facebook-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://t.me/ostdotcom" target="_blank" title="OST - Telegram">
                  <span class="footer-social-telegram-icon"></span>
                </a>
              </li>
              <li>
                <a href="https://medium.com/ostdotcom" target="_blank" title="OST - Medium">
                  <span class="footer-social-medium-icon"></span>
                </a>
              </li>
              <li>
                <a href=" https://github.com/OpenSTFoundation" target="_blank" title="OST - Github">
                  <span class="footer-social-github-icon"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>