<div class="container">
  <div class="row py-4">
    <div class="col">
      <div class="footer-nav-wrap">
        <h6 class="text-uppercase">Products</h6>
        <ul class="footer-nav list-unstyled font-weight-normal">
          <li><a href="javascript:void(0)">ostKIT</a></li>
          <li><a href="javascript:void(0)">ostVIEW</a></li>
          <li><a href="javascript:void(0)">ostKYC</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="footer-nav-wrap">
        <h6 class="text-uppercase">Developers</h6>
        <ul class="footer-nav list-unstyled">
          <li><a href="javascript:void(0)">Technology</a></li>
          <li><a href="javascript:void(0)">Tools</a></li>
          <li><a href="javascript:void(0)">Libraries</a></li>
          <li><a href="javascript:void(0)">API Documentation</a></li>
          <li><a href="javascript:void(0)">White Paper</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="footer-nav-wrap">
        <h6 class="text-uppercase">Company</h6>
        <ul class="footer-nav list-unstyled">
          <li><a href="javascript:void(0)">About Us</a></li>
          <li><a href="javascript:void(0)">Partners</a></li>
          <li><a href="javascript:void(0)">Blog</a></li>
          <li><a href="javascript:void(0)">Team</a></li>
          <li><a href="javascript:void(0)">Careers</a></li>
          <li><a href="javascript:void(0)">News</a></li>
          <li><a href="javascript:void(0)">Documents</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="footer-nav-wrap">
        <h6 class="text-uppercase">Legal</h6>
        <ul class="footer-nav list-unstyled">
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
          <li><a href="javascript:void(0)">Terms & Condition</a></li>
          <li><a href="javascript:void(0)">Foundation</a></li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="footer-nav-wrap social-links">
        <h6 class="text-uppercase">Join The Community</h6>
        <ul class="footer-nav list-unstyled" style="font-size: 0">
          <li>
            <a href="javascript:void(0)">
              <span class="social-twitter-icon"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="social-linkedIn-icon"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="social-slideshare-icon"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="social-telegram-icon"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="social-medium-icon"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="social-facebook-icon"></span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <span class="social-github-icon"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>