<section class="container-fluid">
  <div class="row">
    <footer class="col-12 container-footer">
      Copyright &copy;
      <%= Date.today.year %>
      Simple Token. All Rights Reserved. <a href="/privacy" title="Privacy Policy" target="_blank">Privacy Policy</a>, <a href="/terms" title="Website Terms" target="_blank">Website Terms</a> and <a href="https://drive.google.com/file/d/0B1E_xJPbELBKeU9pUk5uSnNqWFU/view" title="OST Token Terms" target="_blank">OST Token Terms</a>
    </footer>
  </div>
</section>