<section class="container-jumbotron">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-12 col-lg-6">
        <div class="desc">
          <h2>We're Bringing Blockchain to the Mainstream</h2>
          <p>
            OST builds the most powerful, scalable, and safe blockchain tools for digital communities. Whether your looking to integrate blockchain into an existing business or developing a new decentralized app, OST is the complete blockchain platform for business.
          </p>
          <a href="" class="btn btn-gold">Discover Ost Kit</a>
        </div>
      </div>

      <div class="col-md-12 col-lg-6 justify-content-md-center d-flex">
        <div class="illustration">
          <div class="btn-common btn-play" data-toggle="modal" data-target="#youtube-video-modal" data-src="https://www.youtube.com/embed/oLQSM5prDgk?rel=0&autoplay=1">
            <div class="play" style="vertical-align: middle;">
              <svg class="svg">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use>
                </switch>
              </svg>
            </div>
            <span style="vertical-align: middle;line-height: 25px;">Watch Intro</span>
          </div>
          <img src="http://developmentopenst.org:8080/ost-hero-illustration-1x.png" srcset="http://developmentopenst.org:8080/ost-hero-illustration-2x.png 1000w" class="img-fluid position-relative" alt="Simple Token Play Video"/>
        </div>
      </div>

    </div>
  </div>
</section>