<nav class="navbar navbar-expand-lg navbar-simpletoken">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand ost-brand" href="#">
        <svg class="svg ost-nav-logo">
          <switch>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
          </switch>
        </svg>
      </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li>
              <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kit-brand-nav-menu.svg" width="80"/>
              <a href="#">Launch your own Branded Tokens and turn your business into a dynamic ecosystem.</a>
            </li>
            <li>
              <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-brand-nav-menu.svg" width="80"/>
              <a href="#">The one place for your team to quickly review and process the KYC applications.</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Developers
          </a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li>
              <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kit-brand-nav-menu.svg" width="80"/>
              <a href="#">Launch your own Branded Tokens and turn your business into a dynamic ecosystem.</a>
            </li>
            <li>
              <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-brand-nav-menu.svg" width="80"/>
              <a href="#">The one place for your team to quickly review and process the KYC applications.</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu mega-dropdown-menu">
            <li>
              <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kit-brand-nav-menu.svg" width="80"/>
              <a href="#">Launch your own Branded Tokens and turn your business into a dynamic ecosystem.</a>
            </li>
            <li>
              <img src="//d36lai1ppm9dxu.cloudfront.net/assets/image/ost-kyc/ost-kyc-brand-nav-menu.svg" width="80"/>
              <a href="#">The one place for your team to quickly review and process the KYC applications.</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="font-size: 0">
        <li>
          <a href="javascript:void(0)">
            <span class="header-social-twitter-icon"></span>
          </a>
        </li>=
        <li class="ml-2">
          <a href="javascript:void(0)">
            <span class="header-social-linkedIn-icon"></span>
          </a>
        </li>
        <li class="ml-2">
          <a href="javascript:void(0)">
            <span class="header-social-slideshare-icon"></span>
          </a>
        </li>
        <li class="ml-2">
          <a href="javascript:void(0)">
            <span class="header-social-telegram-icon"></span>
          </a>
        </li>
        <li class="ml-2">
          <a href="javascript:void(0)">
            <span class="header-social-medium-icon"></span>
          </a>
        </li>
        <li class="ml-2">
          <a href="javascript:void(0)">
            <span class="header-social-facebook-icon"></span>
          </a>
        </li>
        <li class="ml-2">
          <a href="javascript:void(0)">
            <span class="header-social-github-icon"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>