<div class="container-fluid container-openst-technology pt-5" id="developerresources">
  <div class="row mb-3">
    <div class="col col-md-8 mx-md-auto text-center">
      <h1>Launch your own Branded Tokens with OpenST technology</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-8 mx-auto text-center">
      <p>
        OST is built on OpenST, the protocol for open, scalable, mainstream blockchain development
      </p>
      <img src="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-openst-technology.png" srcset="https://dxwfxs8b4lg24.cloudfront.net/ost/images/ost-openst-technology@2x.png 1000w" class="img-fluid" alt="Branded Token"/>
    </div>
  </div>
  <div class="row align-items-center technology-elements py-5">
    <div class="container">
      <div class="row card-group">
        <div class="col-sm-12 col-md-4 my-4">
          <div class="card h-100">
            <div class="card-body">
              <h5>OpenST</h5>
              <p>The OpenST protocol enables the creation of Branded Tokens on open utility side blockchains while the value of those tokens is backed by staked cryptographic assets on a value blockchain such as public Ethereum.</p>
            </div>
            <div class="card-footer">
              <a href="" class="link">view on github</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-4">
          <div class="card h-100">
            <div class="card-body">
              <h5>ostKIT</h5>
              <p>ostKIT is the complete blockchain toolkit for business, built on top of OpenST. Use our dashboards to launch and manage your own token economy. No in-house blockchain developers required.</p>
            </div>
            <div class="card-footer">
              <a href="" class="link">discover ostkit</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 my-4">
          <div class="card h-100">
            <div class="card-body">
              <h5>APIs</h5>
              <p>Quickly integrate our robust APIs into your application. Follow our documentation, guides, and recipes that make building any blockchain experience simple and easy.</p>
            </div>
            <div class="card-footer">
              <a href="" class="link">API REFERENCE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <a href="" class="btn btn-gold">Read the white paper</a>
      </div>
    </div>
  </div>
</div>