<section class="container-fluid container-ost-team">
  <div class="row align-items-center h-100">
    <div class="col-12 col-sm-6 p-0">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8 mx-auto">
          <div class="justify-content-center mx-auto">
            <h1>Meet the
              <svg class="svg ost-powered-logo">
                <switch>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-logo"></use>
                </switch>
              </svg> team</h1>
            <p class="text-left">Blockchain technologies hold enormous potential to transform business and improve society.</p>
            <p class="text-left">OST is a community driven project. Your feedback is the engine that will drive the project forward. We invite you to connect with us, become a link in our chain, and help us unlock the power of blockchain for all.</p>
            <a href="" class="btn btn-gold">Meet The team</a>
            <a href="" class="btn btn-trans-border-blue">Work with us</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 p-0">
      <img src="/images/ost-team-image.jpg" class="img-fluid"/>
    </div>
  </div>
</section>