<section class="container container-token-buy">

  <div class="row">
    <ul class="list-unstyled my-4 partners w-100">
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/unsplash-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/lytepay-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/korhal-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/treat-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/connectscale-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/licenserocks-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/lookhave-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <li class="col-6 col-md-2 my-2 d-inline-block">
        <a href="javascript:void(0)">
          <img src="http://developmentopenst.org:8080/images/tomorrow-logo@3x.png" class="img-fluid"/>
        </a>
      </li>
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/kokomo-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/tribecoin-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/radmule-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/704-games-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/tesloop-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/flopship-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/vidivr-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/gushcloud-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/xain-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/interviewbit-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/digitalknights-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="col-6 col-md-2 my-2 d-inline-block">-->
        <!--<a href="javascript:void(0)">-->
          <!--<img src="http://developmentopenst.org:8080/images/pepo-logo@3x.png" class="img-fluid"/>-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </div>

</section>