<div class="text-center">
  <a href="/sign-up" class="uber-banner d-block" title="OST Kit Alpha" target="_blank">
    OST KIT Alpha has arrived! Test drive the complete blockchain toolkit today!</a>
</div>

