<div class="row ost__planner">
  <div class="col-12">
    <h1 class="ost__planner__heading text-center">Complete the installation to continue</h1>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12 col-md-6 ml-auto mr-auto">
    <div class="text-center">
      <p class="ost__planner__desc font-weight-light mb-5">Follow the instruction to set up your MetaMask Wallet and click the button below once you have installed it.</p>
      <div class="ost__planner__circle rounded-circle font-weight-light mb-5">FRC</div>
      <div class="mb-5">
        <button type="button" class="btn btn-gold">i have installed metamask</button>
      </div>
      <div>
        <button type="button" class="btn btn-gold-border">watch help video</button>
      </div>
      <ul class="ost__planner__list mt-6">
        <li class="ost__planner__list__item font-weight-normal">FAQ for installing MetaMask</li>
        <li class="ost__planner__list__item font-weight-light">Installing MetaMask, your digital wallet!</li>
        <li class="ost__planner__list__item font-weight-light">Why us my MetaMask locked?</li>
      </ul>
    </div>
  </div>
</div>