<div class="row ost__planner">
  <div class="col-12 col-md-6 ml-auto mr-auto">
    <div class="text-center">
      <h1 class="ost__planner__heading">We will send 500 OSTα in your Metamask wallet shown below</h1>
      <div class="ost__planner__address font-weight-light mt-3 mb-3 d-inline-block">0x58b7056DeB51eD292614F0DA1E94E7e9c589828d</div>
      <p class="ost__planner__desc font-weight-light mb-5">Lets start the Demo by planning your economy</p>
      <div class="mb-5">
        <button type="button" class="btn btn-gold">get ost</button>
      </div>
    </div>
  </div>
</div>