<div class="row ost__planner">
  <div class="col-12 align-middle">
    <h2 class="text-center d-inline-block">Simulator</h2>
    <button type="button" class="btn btn-gold">run a transaction</button>
  </div>
</div>
<div class="row ost__planner">
  <div class="col-12 col-md-8 ml-auto mr-auto">
  </div>
</div>