.transactions{
  width: 100%;
  max-width: 100%;
  .header{
    color: $cyan;
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    font-weight: $font-weight-normal;
  }
  .ost-table-row{
    background-color: $alice-blue;
  }
  .cell{
    color: $blue-700;
  }
  .btn{
    min-width: 130px;
  }
}

