.transactions{
  width: 100%;
  max-width: 100%;
  .header{
    color: $cyan;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: $font-weight-bold;
  }
  .ost-table-row{
    border: 1px solid $cyan;
    background-color: $white;
    &:hover{
      border: 1px solid $aqua;
    }
    > [class*="col-"]{
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
  .cell{
    color: $blue-700;
  }
  .btn{
    min-width: 130px;
  }
}

