// Import functions as variables depend on functions
@import "plugins/bootstrap/scss/functions";

// Import theme variables
@import "web/Starboy/variables";


#users-list-container {
  border: 1px solid $blue-300;

  .users-data {
    padding: 10px ;
  }

  .table-header {
    padding: 10px;
    background-color:  $cyan;
    color: $white;
  }
}

.all-users-data-wrapper , .new-users-data-wrapper {
  display: none;
}

#all-users-list-content-wrapper , #new-users-list-content-wrapper {
  max-height: 200px;
  overflow-y: scroll ;
}

.all_users .all-users-data-wrapper {
  display: block;
}

.new_users .new-users-data-wrapper {
  display: block;
}

#token-airdrop-form .total-token-available {
  color: $cyan;
}