<div id="graphsNodataHTML" style="display: none">
  <div class="graphs-nodata-1">
    <div class="simulator-image-wrapper m-4">
      <svg class="icon-transactions-by-value">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-transactions-by-value"></use>
        </switch>
      </svg>
    </div>
    <p class="mb-4">
      The graphs will start populating once you simulate some transactions
    </p>
    <div class="run-transaction-btn-wrapper mb-4">
      <a class="btn btn-gold run-first-transaction-btn" href="/simulator">Simulate Transactions</a>
    </div>
  </div>
</div>


<div id="transactionsbytype" style="display: none">
  <div class="graphs-nodata-2">
    <div class="simulator-image-wrapper m-4">
      <svg class="icon-transactions-by-value">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-transactions-by-type"></use>
        </switch>
      </svg>
    </div>
    <p class="mb-4">
      The graphs will start populating once you simulate some transactions
    </p>
    <div class="run-transaction-btn-wrapper mb-4">
      <a class="btn btn-gold run-first-transaction-btn" href="/simulator">Simulate Transactions</a>
    </div>
  </div>
</div>