<div id="graphsNodataHTML" style="display: none">
  <div class="graphs-nodata">
    <div class="simulator-image-wrapper m-4">
      <svg style="width: 180px">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-simulator-image"></use>
        </switch>
      </svg>
    </div>
    <p class="mb-4">
      The graphs will start populating once you simulate some transactions
    </p>
    <div class="run-transaction-btn-wrapper mb-4">
      <a class="btn btn-gold run-first-transaction-btn" href="/simulator">Simulate Transactions</a>
    </div>
  </div>
</div>