<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="mt-4">Ost Supply</h3>
        <ul class="p-0">
          <li class="d-flex align-items-center mb-3">
            <span class="ost-supply available"></span>
            <p class="m-0 ml-2">
              <small class="d-block">OST Available</small>
              <small class="d-block">350</small>
            </p>
          </li>
          <li class="d-flex align-items-center mb-3">
            <span class="ost-supply allocated"></span>
            <p class="m-0 ml-2">
              <small class="d-block">Allocated For Transaction Fee</small>
              <small class="d-block">30</small>
            </p>
          </li>
          <li class="d-flex align-items-center mb-3">
            <span class="ost-supply staked-minting"></span>
            <p class="m-0 ml-2">
              <small class="d-block">OST to be staked for minting tokens</small>
              <small class="d-block">310</small>
            </p>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h3 class="mt-4">Activity Logs</h3>
      </div>
    </div>
  </div>
</div>