<%

  bt_symbol = @presenter_obj.client_token.symbol;

  client_fiat_curreny_display_text = @presenter_obj.client_fiat_curreny_display_text
  client_fiat_curreny_pref_symbol = @presenter_obj.client_fiat_curreny_pref_symbol
  fiat_type = @presenter_obj.client_fiat_curreny_symbol;

  client_balances = @presenter_obj.client_balances
  if client_balances.present? && client_balances.balances.present?
    bt_balance_s = client_balances.bt_balance_s
  end

  if @presenter_obj.oracle_price_points && @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type) > 0
    ost_to_fiat = @presenter_obj.oracle_price_points.to_fiat_conversion_factor(fiat_type).to_s;
  end

%>

<div class="row dashboard-tabs">

  <div class="col-12">
    <div class="card-deck mt-6">
        <div class="card m-0">
          <div class="card-body text-uppercase text-center">
            <h5 class="mb-1">
              <input hidden id="dashboard_value_in_bt"  name="dashboard_value_in_bt">
              <span data-ost-mock-element="#dashboard_value_in_bt" class="imp-value"></span> <%= bt_symbol %>
            </h5>
          </div>
        </div>
        <div class="middle-content-wrapper card m-0 border-right-0 border-left-0">
          <div class="icon-wrapper">
            <svg class="icon-equal-to">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-equal-to"></use>
              </switch>
            </svg>
          </div>
          <div class="card-body text-uppercase text-center">
            <h5 class="mb-1">
              <input hidden id="dashboard_value_in_ost" name="dashboard_value_in_ost">
              <span data-ost-mock-element="#dashboard_value_in_ost" class="imp-value"></span> OST⍺
            </h5>
          </div>
          <div class="icon-wrapper">
            <svg class="icon-equal-to">
              <switch>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-equal-to"></use>
              </switch>
            </svg>
          </div>
        </div>
        <div class="card m-0">
          <div class="card-body text-uppercase text-center">
            <h5 class="mb-1">
              <span class="imp-value">
                <%= client_fiat_curreny_pref_symbol %>
                <input hidden id="dashboard_value_in_fiat" name="dashboard_value_in_fiat">
                <span data-ost-mock-element="#dashboard_value_in_fiat" class="imp-value"></span>
              </span>
              <%= client_fiat_curreny_display_text %>
            </h5>
          </div>
        </div>
    </div>
  </div>

</div>

<% content_for :end_js do %>
<script type="text/javascript">
  $( function () {
    var jBt   = $('#dashboard_value_in_bt')
      , jFiat = $('#dashboard_value_in_fiat')
      , jOst  = $('#dashboard_value_in_ost')
    ;
    window.PriceOracle && PriceOracle.bindCurrencyElements( jBt , jFiat , jOst );
    jBt.safeSetVal(1);
  });
</script>
<% end %>