<div class="row _tabs">

  <div class="col-12">
    <div class="card-deck mt-4">
      <div class="card">
        <div class="card-body text-uppercase text-center">
          <h5 class="card-title mb-1"><%=@presenter_obj.client_token.symbol%> available</h5>
          <p class="card-text mb-1">10,000</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-uppercase text-center">
          <h5 class="card-title mb-1">Token rate (USD)</h5>
          <p class="card-text mb-1">$0.0050</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body text-uppercase text-center">
          <h5 class="card-title mb-1">Revenue last 24hrs (USD)</h5>
          <p class="card-text mb-1">$10,000</p>
        </div>
      </div>
    </div>
  </div>

</div>