<div class="row">
  <div class="col-12">
    <h3 class="mt-4">User</h3>
    <hr />
    <h5 class="mt-3">Top 10 FRC Holders</h5>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">USER NAME</th>
          <th scope="col">TOTAL FRC AVAILABLE</th>
          <th scope="col">TOTLA FRC EARNED</th>
          <th scope="col">TOTAL FRC SPENT</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Sue Hart</th>
          <td>100000</td>
          <td>100000</td>
          <td>100000</td>
        </tr>
        <tr>
          <th scope="row">Sue Hart</th>
          <td>100000</td>
          <td>100000</td>
          <td>100000</td>
        </tr>
        <tr>
          <th scope="row">Sue Hart</th>
          <td>100000</td>
          <td>100000</td>
          <td>100000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>