<div class="row _top_holders">
  <div class="col-12">
    <h3 class="mt-5 mb-3">User Engagement</h3>
    <div class="d-flex graph-header">
      <div class="mr-auto p-2">Most Active Users</div>
    </div>
    <table class="table dashboard-user-table">
      <thead class="thead-light">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">No. of transactions</th>
          <th scope="col"><%=@presenter_obj.client_token.symbol%> Balance</th>
          <th scope="col"><%=@presenter_obj.client_token.symbol%> earned</th>
          <th scope="col"><%=@presenter_obj.client_token.symbol%> spent</th>
        </tr>
      </thead>
      <tbody id="top-holders" data-simple-table data-url="/api/economy/token/graph/top-users">
        <script type="text/x-handlebars-template" data-row-template>
          <tr>
            <td>{{name}}</td>
            <td>{{total_transactions}}</td>
            <td>{{display_token tokens}}</td>
            <td>{{display_token tokens_earned}}</td>
            <td>{{display_token tokens_spent}}</td>
          </tr>
        </script>
      </tbody>
    </table>
    <div class="my-6"></div>
  </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
      Handlebars.registerHelper('display_token', function(val, options ) {
        return PriceOracle.toBt( val ).toString( 10 );
      });
    });
  </script>
<% end %>

