<div class="row _top_holders">
  <div class="col-12">
    <h3 class="mt-5 mb-3">User</h3>
    <div class="d-flex graph-header">
      <div class="mr-auto p-2">Top <%=@presenter_obj.client_token.symbol%> Holders</div>
    </div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">User Name</th>
          <th scope="col">Total <%=@presenter_obj.client_token.symbol%> available</th>
          <th scope="col">Total <%=@presenter_obj.client_token.symbol%> earned</th>
          <th scope="col">Total <%=@presenter_obj.client_token.symbol%> spent</th>
        </tr>
      </thead>
      <tbody id="top-holders" data-simple-table data-url="/api/economy/token/graph/top-users">
        <script type="text/x-handlebars-template" data-row-template>
          <tr>
            <td>{{name}}</td>
            <td>{{tokens}}</td>
            <td>{{tokens_earned}}</td>
            <td>{{tokens_spent}}</td>
          </tr>
        </script>
      </tbody>
    </table>
  </div>
</div>

<% content_for :end_js do %>
  <script type="text/javascript">
    $( function () {
      Handlebars.registerHelper('tokens_bt', function(response, options ) {
        var rowData =  response.data.root || {}
          , val     = rowData.tokens
        ;
        val = web3.fromWei( val, "ether" );
        return PriceOracle.toBt( val );
      });
      Handlebars.registerHelper('tokens_earned_bt', function(response, options ) {
        var rowData =  response.data.root || {}
          , val     = rowData.tokens_earned
        ;
        val = web3.fromWei( val, "ether" );
        return PriceOracle.toBt( val ).toString( 10 );
      });
      Handlebars.registerHelper('tokens_spent_bt', function(response, options ) {
        var rowData =  response.data.root || {}
          , val     = rowData.tokens_spent
        ;
        val = web3.fromWei( val, "ether" );
        return PriceOracle.toBt( val ).toString( 10 );
      });
    });
  </script>
<% end %>

