<div class="row _transactions_value">
  <div class="col-12">
    <h4 class="mt-4">Transactions by Value</h4>
    <div class="d-flex graph-header">
      <div class="mr-auto p-2">Value of transfer (OST) Vs N  of transfers</div>
      <div class="p-2 first-interval">1H</div>
      <div class="p-2">1D</div>
      <div class="p-2">1W</div>
      <div class="p-2">1M</div>
      <div class="p-2">1Y</div>
      <div class="p-2">All</div>
    </div>
    <div id="transactionsValue" style="width:100%; height: 350px;"></div>
  </div>
</div>