<div class="col-9 mx-auto mt-6">
  <div class="card text-center p-6">
    <h3 class="mb-0">Start Minting</h3>
    <div class="simulator-image-wrapper my-4">
      <svg style="width: 150px">
        <switch>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mint-tokens"></use>
        </switch>
      </svg>
    </div>
    <div class="token-supply-infotext mb-4 col-5 mx-auto">Mint more tokens and power your economy as you need.</div>
    <div class="run-transaction-btn-wrapper">
      <button id="" class="btn btn-gold">MINT TOKENS</button>
    </div>
  </div>
</div>