<div class="token-setup-container text-center">
  <h3 class="mt-5"> Setting up your Token</h3>
  <p class="font-weight-light my-5"> The |token name goes here | token economy is being initialized.This process takes several minutes.</p>
  <div class="token-setup-content mx-auto">
    <div class="shadow-box row ">
      <div class="col-9 pt-5 mt-3 pb-3 progress-bar-container">
        <div class="progress " >
          <div class="progress-bar" data-toggle="tooltip" data-placement="top" title="Tooltip on top" role="progressbar" aria-valuenow="20" style="width: 45%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="col-3 pt-2 pb-3 my-auto">
        <p class="text-left font-weight-light font-size-p my-auto">Deploying Budget holder contract</p>

      </div>

    </div>

    <h3 class="my-5">
      In the mean time you can…
    </h3>
    <div class="my-3 content-wrapper p-2  row">
      <div class="col-1 my-auto">
        pic

      </div>
      <p class="col-7 text-left my-auto">
        Request OST to get started.
      </p>
      <div class="col-4">
        <button class="btn btn-secondary">
          get ost
        </button>

      </div>


    </div>
    <div class="my-3 content-wrapper p-2  row">
      <div class="col-1 my-auto">
        pic

      </div>
      <p class="col-7 text-left my-auto">
        Invite your team members.
      </p>
      <div class="col-4">
        <button class="btn btn-secondary">
          invite team
        </button>

      </div>


    </div>
    <div class="my-3 content-wrapper p-2  row">
      <div class="col-1 my-auto">
        pic

      </div>
      <p class="col-7 text-left my-auto">
        Integrate OST APIs with your application.
      </p>
      <div class="col-4">
        <button class="btn btn-secondary">
        get api keys
        </button>

      </div>


    </div>
    <div class="my-3 content-wrapper p-2  row">
      <div class="col-1 my-auto">
        pic

      </div>
      <p class="col-7 text-left my-auto">
        Check our guides and tutorials for a quick start.
      </p>
      <div class="col-4">
        <button class="btn btn-secondary">
          ost guides
        </button>

      </div>


    </div>



  </div>

</div>