<div class="container">
<%= render :partial => "/web/economy/token_supply/token_supply" %>
<%= render :partial => "/web/economy/token_supply/mint_tokens" %>
</div>

<div class="container">
  <%=
      render :partial => "shared/web/common/faqs",
      locals: {
        header: "FAQ",
        faqs: [
          {
            title: 'What does Staking and Minting mean?',
            url: 'https://help.ost.com/support/solutions/articles/35000059261-what-does-staking-and-minting-mean-'
          },
          {
            title: 'What is Gas? And Who pays for it?',
            url: 'https://help.ost.com/support/solutions/articles/35000059262-what-is-gas-and-who-pays-for-it-'
          },
          {
            title: 'How do I unstake?',
            url: 'https://help.ost.com/support/solutions/articles/35000059273-how-do-i-unstake-'
          }
        ]
      }
  %>
</div>
