<% 
  should_show_api_call_button = true;

  kind_display_text = {
    :user_to_company => "User to Company",
    :user_to_user => "User to User",
    :company_to_user => "Company to User"
  };


%>


<%  %>




<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center my-4">
        <h3 class="float-left mb-0">Transactions</h3>
        <button id="create_transaction_btn" class="btn btn-gold float-right">ADD TRANSACTIONS</button>
      </div>
    </div>
  </div>
  <table class="transactions">
    <tr class="row">
      <th class="col-2">TRANSACTION</th>
      <th class="col-2">VALUE IN USD</th>
      <th class="col-2">VALUE IN FRC</th>
      <th class="col-2">PRICE ORACLE</th>
      <th class="col-3">COMMISSION %</th>
    </tr>
  </table>
</div>

<div class="container">
  <table id="transaction_list" class="transactions" data-simple-table data-url="/api/economy/transaction/kind/list">
    <script type="text/x-handlebars-template" data-row-template>
      <tr class="row align-items-center py-3 mt-1 mb-3 rounded ost-table-row" style="background-color: #f1f5f8;">
        <td class="col-2">{{name}}<br/>{{kind_display_text}}</td>
        <td class="col-2">${{value_in_usd}}</td>
        <td class="col-2">{{value_in_bt}}</td>
        <td class="col-2">{{price_oracle_text}}</td>
        <td class="col-1">{{commission_percent}}&#37;</td>
        <td class="col-3">
          {{#IfShowApiCallButton id }}
            <button class="showApiCallBtn btn btn-white" >API Call</button>
          {{/IfShowApiCallButton}}
          <a href="javascript:void(0)" class="editRow" data-result-id="{{id}}">Edit</a>
          <input type="hidden" name="id" value={{id}}/>
          <input type="hidden" name="uts" value={{uts}}/>
        </td>
      </tr>
    </script>
  </table>
</div>

<% content_for :end_js do %>
  <script type="text/javascript" 
    src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>

  <script type="text/javascript">
    var kindDisplayText = <%= raw kind_display_text.to_json %>;

    Handlebars.registerHelper('price_oracle_text', function(response, options ) { 
      var defaultVal = "YES";

      var rowData = response.data.root || {};
      return  rowData.currency_type === "bt" ? "No" : "Yes";

    });

    
    Handlebars.registerHelper('kind_display_text', function(response, options ) { 
      var rowData = response.data.root || {}
        , kind    = rowData.kind
      ;

      return kindDisplayText[ kind ];
    });

    Handlebars.registerHelper('IfShowApiCallButton', function(data, options ) { 
      console.log("IfShowApiCallButton called!", arguments); 
      if (<%= should_show_api_call_button %>) {
        return options.fn(this);
      } else {
        return options.inverse(this);
      }
    });
    ost.transactions.init({
    
    });  
  </script>
<% end %>