<div class="row">
  <div class="col-12">
    <h3 class="text-center mt-4" id="mode-heading">Create Transactions</h3>
    <hr />
  </div>
  <form id="transaction_editor" class="form-container-sm user-form"
    action="/api/client/sign-up" method="POST"
    data-ost-formhelper>
    
  </form>
</div>
  
