<style type="text/css">
  #transaction_list {
    height: 100%;
    width: 100%;
  }
</style>

<div style="height:calc(100vh - 70px)" class="row">
  <%= react_component('OstDataTable', props={
    parent_id: "transaction_list",
    data_source: "ost.transactions.getDummyData",
    row_component: "OstDataTableRow"

  }, html_options={id: 'transaction_list'}) %>
</div>